.modal-accomplishment {
  @include expand;
  @include make-column-and-center;

  p {
    margin-bottom: 0;
  }

  .title {
    margin: 0 1rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: $space-orange;
  }

  .info {
    margin: 2rem 0;
    text-align: center;
  }

  .investments {
    margin: 0 1rem;
    flex-wrap: wrap;
    @include make-center;

    img {
      width: 2.5rem;
      margin: 0 0.25rem;
    }
  }

  .cost {
    margin: 1rem 0 0 0;
    font-size: $font-small;
    color: $space-orange;
  }

  .purchase-button {
    @include reset-button;
    border-bottom: 0.125rem solid $space-orange;
    margin-top: 1rem;
    color: $space-white;
  }
}
