.modal-accomplishment {
  @include expand;
  @include make-column-and-center;

  p {
    margin-bottom: 0;
  }

  .title {
    margin: 0 1rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: $new-space-orange;
  }

  .info {
    margin: 2rem 0;
    text-align: center;
  }

  .investments {
    margin: 0 1rem;
    @include make-center;
    flex-wrap: wrap;

    .container {
      @include make-center;
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.25rem;
      border-radius: 50%;
      margin: 0.125rem;
      background-color: $space-white;

      img {
        @include expand;
      }
    }

    .unattainable-resource {
      background-color: $space-white-opaque-2 !important;
    }
  }

  .cost {
    margin: 1rem 0 0 0;
    font-size: $font-small;
    color: $new-space-orange;
  }

  .purchase-button {
    @include reset-button;
    border-bottom: 0.125rem solid $new-space-orange;
    margin-top: 1rem;
    color: $space-white;
  }
}
