.c-gameinformation {
  @include expand;
  @include make-column-and-center;
  align-items: flex-start;
  color: $dark-shade;

  .section {
    p {
      margin-bottom: 0;
    }

    button {
      @include space-button;
      margin-top: 1rem;
      font-size: $font-med;
      font-weight: $bold !important;
    }

    button.ready-button,
    button.cancel-button {
      position: relative;
      overflow: hidden;
    }

    button.ready-button {
      border: 0.125rem solid $light-accent;
      color: $dark-shade;
      background-color: $light-accent;
    }

    button.cancel-button {
      border: 0.125rem solid $light-shade;
      color: $dark-shade;
      background-color: $light-shade;
    }

    button.ready-button:after {
      animation: glint 5s linear 0s infinite forwards;
      //animation: name duration timing-function delay iteration-count direction fill-mode;

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: linear-gradient(
        to bottom,
        transparent,
        rgba(240, 218, 177, 0.5),
        50%,
        transparent
      );
      transform: rotateZ(120deg) translate(-1em, 4em);
      @keyframes glint {
        10%,
        100% {
          transform: rotateZ(120deg) translate(0, -5em);
        }
      }
    }

    .ready-text {
      color: $status-green;
      height: 1.5rem;
      @include default-transition-base;

      p {
        @include default-transition-base;
      }
    }
  }

  .title {
    color: $light-shade-5;
    font-size: $font-med;
    font-weight: $bold;
  }

  .round,
  .phase,
  .countdown {
    color: $light-shade;
    font-size: $font-large;
    font-weight: $bold;
  }

  .number {
    color: $light-shade;
    font-size: $font-med;
    font-weight: $bold;
  }

  .countdown {
    transition: all 0.15s ease-in-out;
  }

  .blink-timer {
    animation: blinker 0.5s linear 5;
    color: $status-red;
    font-size: $font-large;
    font-weight: $bold;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
