.c-player {
  width: 100%;
  @include make-column-and-center;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:hover {
    .information .role {
      color: $dark-shade !important;
      background-color: $dark-accent !important;
    }
  }

  .indicator {
    height: 10rem;
    width: 10rem;
    padding: 0.25rem;
    border-radius: 50%;
    margin-bottom: 1rem;

    .frame {
      @include expand;
      border-radius: 50%;
      @include make-center;

      img {
        object-fit: cover;
        height: 80%;
      }
    }
  }

  .information {
    .title,
    .role,
    .score {
      text-align: center;
    }

    .role,
    .score {
      transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    .title {
      margin-bottom: 0.125rem;
      color: $light-accent;
      font-size: $font-med;
      font-weight: $bold;
    }

    .role {
      padding: 0.125rem 0.5rem;
      border-radius: 0.25rem;
      margin: 0;
      color: $light-shade;
      font-size: $font-large;
      font-weight: $bold;
    }

    .score {
      padding-left: 0.5rem;
      margin-bottom: 0;
      color: $light-shade;
      font-size: $font-med;
      font-weight: $bold;
    }
  }
}
