.c-gameinformation {
  @include expand;
  padding: 0 1rem;
  @include make-column-and-center;
  align-items: flex-start;
  color: $space-gray;

  .section {
    p {
      margin-bottom: 0;
    }

    button {
      @include reset-button;
      height: 2.5rem;
      padding: 0.125rem 0.5rem;
      border: 0.0625rem solid $new-space-orange;
      margin-top: 0.5rem;
      color: $new-space-orange;
      font-size: $font-med;
      @include text-overflow-ellipses;
      @include default-transition-button;

      &:hover {
        color: $space-gray;
        background-color: $new-space-orange;
      }
    }
  }

  .title {
    color: $new-space-orange;
    font-size: $font-med;
    font-weight: $font-weight-maven-pro-bold;
  }

  .round,
  .phase,
  .countdown {
    color: $space-white;
    font-size: $font-large;
    font-weight: $font-weight-maven-pro-bold;
  }

  .number {
    color: $space-white;
    font-size: $font-med;
    font-weight: $font-weight-maven-pro-bold;
  }

  .countdown {
    transition: all 0.4s ease-in-out;
  }
}
