.container-accomplishments {
  height: 60%;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0 0 0;
  @include make-column-and-center;

  .topbar {
    width: 100%;
    margin-bottom: 0.5rem;
    @include make-column-and-center;

    .title {
      width: 100%;
      padding: 0.5rem;
      @include border-bottom-white;
      margin-bottom: 0;
      font-size: $font-med;
      text-align: left;
      color: $space-white-opaque-2;
      background-color: transparent;
    }

    .buttons {
      width: 100%;
      margin-top: 0.5rem;
      @include make-horizontal-expand;

      button {
        @include reset-button;
        width: 50%;
        font-size: $font-small;
        color: $space-white-opaque-2;
      }

      .available {
        margin-right: 0.25rem;
      }

      .purchased {
        margin-left: 0.25rem;
      }
    }
  }

  .accomplishment-cards {
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    overflow-y: scroll;
    background-color: $space-white-opaque-1;
    @include disable-scroll;

    .available {
      .discard-button {
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        border-radius: 50%;
        text-align: center;
        background-color: white;
      }
    }

    .available,
    .purchased {
      min-height: 100%;
      width: 100%;
      margin: 0;
      @include make-column-and-top;
    }

    .available-empty,
    .purchased-empty {
      margin-bottom: 0;
      font-size: $font-small;
      text-align: center;
      color: $space-white-opaque-2;
    }
  }
}
