.container-investments {
  @include expand;
  max-width: none;
  padding: 0.5rem;
  margin: 0;
  @include make-column-and-center;

  .topbar {
    height: 10%;
    @include row;
    width: 100%;
    padding: 0.25rem 1rem;
    margin: 0 0 0.5rem 0;
    @include make-center;
    background-color: $space-orange;

    .title {
      margin: 0;
      font-size: $font-med;
      color: $space-gray;
    }

    .statusbar {
      margin: 0 1rem;
      flex: 1;
    }

    .status {
      margin: 0;
      font-size: $font-med;
      color: $space-gray;
    }
  }

  .cards {
    height: 90%;
    width: 100%;
    margin: 0;
    @include row;
  }
}
