.c-chat {
  @include expand;
  @include make-column-and-center;

  .title {
    width: 100%;
    padding: 0.5rem;
    border-bottom: $border-white-opaque-2;
    margin-bottom: 0.5rem;
    font-size: $font-med;
    text-align: right;
    color: $light-shade-25;
  }

  .messages-view {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    @include disable-scroll;

    .wrapper {
      flex: 1;
      width: 100%;
      @include make-column-and-top;

      .empty {
        margin-bottom: 0;
        font-size: $font-med;
        text-align: center;
        color: $light-shade-25;
      }

      .message {
        height: auto;
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        color: $light-shade;
        background-color: $light-shade-05;
        font-size: $font-med;
        overflow: auto;

        &:last-child {
          margin-bottom: 0;
        }

        .top {
          @include make-horizontal-expand;
          justify-content: space-between;

          .member {
            margin-bottom: 0;
            color: $light-accent;
            font-weight: $medium;
          }

          .time {
            margin-bottom: 0;

            span {
              color: $light-accent;
            }
          }
        }

        .bottom {
          .content {
            margin: 0.5rem 0;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .input-frame {
    height: 3rem;
    width: 100%;
    padding-top: 0.5rem;
    border-top: 0.125rem solid $dark-accent;
    margin-top: 0.5rem;
    @include make-center;
    justify-content: space-between;
    flex-shrink: 0;

    .chat-input {
      height: 100%;
      border: none;
      flex: 1;
      color: $light-shade;
      background-color: transparent;
      font-size: $font-med;

      &:focus,
      &:active {
        outline: none;
      }

      &::placeholder {
        color: $light-shade-25;
      }
    }

    .chat-input-sendbtn {
      margin: 0 0.5rem;
      color: $light-accent-25;
      @include default-transition-base;
      cursor: pointer;

      &--ready {
        @extend .chat-input-sendbtn;
        color: $light-accent;
        @include default-scale-up;
      }
    }
  }
}

.chat-disabled {
  flex: 1;
  width: 100%;

  .wrapper {
    @include expand;
    @include make-center;
    color: $light-shade;
    background-color: $light-shade-05;

    p {
      margin-bottom: 0;
      color: $light-shade-25;
      font-size: $font-med;
      font-weight: $medium;
      text-align: center;
    }
  }
}
