.statusbar-outer {
  height: 1rem !important;
  flex-grow: 1;
  border-radius: 0.5rem;
  @include make-left;
  background-color: $space-white-opaque-2;

  .statusbar-inner {
    height: 100%;
    border-radius: 0.5rem;
    transition: all 0.4s ease-in-out;
  }
}

.statusbar-outer-gray {
  border: 0.125rem solid $space-gray;
}

.statusbar-inner-white {
  background-color: $space-white;
}

.statusbar-inner-gray {
  background-color: $space-gray;
}

.statusbar-inner-green {
  background-color: $status-green;
}

.statusbar-inner-yellow {
  background-color: $status-yellow;
}

.statusbar-inner-red {
  background-color: $status-red;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
