.statusbar-outer {
  height: 1rem !important;
  flex: 1;
  border-radius: 0.5rem;
  @include make-left;
  background-color: $light-shade;

  .statusbar-inner {
    height: 100%;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
  }
}

.statusbar-outer-gray {
  border: 0.125rem solid $dark-shade;
}

.statusbar-inner-white {
  background-color: $light-shade;
}

.statusbar-inner-gray {
  background-color: $dark-shade;
}

.statusbar-inner-green {
  background-color: $success;
}

.statusbar-inner-yellow {
  background-color: $warning;
}

.statusbar-inner-red {
  background-color: $danger;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
