.c-system-health {
  width: 100%;
  @include make-center;

  p {
    margin-bottom: 0.125rem;
  }

  .title {
    margin-right: 1rem;
    color: $light-shade;
    font-size: $font-med;
    font-weight: $bold;
  }

  .status {
    margin-left: 1rem;
    color: $light-shade;
    font-size: $font-large;
    font-weight: $bold;

    span {
      margin-left: 0.25rem;
      color: $light-accent;
    }
  }
}
