.c-system-health {
  width: 100%;
  @include make-center;

  p {
    margin-bottom: 0.125rem;
  }

  .title {
    margin-right: 1rem;
    color: $space-white;
    font-size: $font-med;
    font-weight: $font-weight-maven-pro-bold;
  }

  .status {
    margin-left: 1rem;
    color: $space-white;
    font-size: $font-large;
    font-weight: $font-weight-maven-pro-bold;

    span {
      margin-left: 0.25rem;
      color: $new-space-orange;
    }
  }
}
