.card-modal {
  height: 25rem;
  width: 35rem;
  @include reset-padding-margin;
  border: 0.125rem solid $space-lightgreen;
  @include make-column-and-top;
  justify-content: space-between;
  background-color: $space-gray;
  // filter: drop-shadow(0 0 0.75rem $new-space-orange);

  .title-wrapper,
  .content-wrapper,
  .cards-wrapper,
  .confirm-wrapper,
  .ghost-wrapper {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }

  .title-wrapper {
    height: 4rem;
    background-color: $space-lightgreen;

    .title {
      @include expand;
      padding: 0;
      @include make-center;

      p {
        margin-bottom: 0;
        color: $space-gray;
        font-size: $font-large;
        font-weight: $font-weight-maven-pro-bold;
      }
    }
  }

  .content-wrapper {
    .content {
      @include expand;
      padding: 0;
      @include make-center;

      p {
        width: 80%;
        margin-bottom: 0;
        color: $space-white;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-regular;
        text-align: center;
      }
    }
  }

  .cards-wrapper {
    background-color: $space-white-opaque-1;
    overflow-y: hidden;

    .cards {
      @include expand;
      padding: 0;
      overflow-y: scroll;
    }
  }

  .confirm-wrapper {
    background: blue;
    padding: 1rem 0.5rem;

    .confirm {
      @include expand;
      padding: 0;
      @include make-center;

      button {
        @include space-button-modal;
        margin: 0;
      }
    }
  }

  .ghost-wrapper {
    padding: 1rem 0.5rem;
  }
}
