.general-modal {
  height: 25rem;
  width: 35rem;
  @include reset-padding-margin;
  border: 0.125rem solid $dark-accent;
  @include make-column-and-top;
  background-color: $dark-shade;
}

.title-wrapper,
.content-wrapper {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
}

.title-wrapper {
  height: 4rem;
  background-color: $dark-accent;
}

.title {
  height: 100%;
  padding: 0;
  @include make-center;

  p {
    margin-bottom: 0;
    color: $dark-shade;
    font-size: $font-large;
    font-weight: $bold;
  }
}

.content-wrapper {
  flex: 1;
}

.content {
  height: 100%;
  padding: 0;
  @include make-center;

  p {
    width: 80%;
    margin-bottom: 0;
    color: $light-shade;
    font-size: $font-med;
    font-weight: $regular;
    text-align: center;
  }
}
