.c-modal-controller {
  @include expand;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  @include make-center;
  background-color: $space-gray-08;

  .wrapper {
    @include make-column-and-center;

    .modal-close {
      @include reset-button;
      height: 3rem;
      width: 3rem;
      padding: 0.5rem;
      border-radius: 50%;
      margin-top: 2rem;
      @include make-center;
      background-color: $space-lightgreen;
      @include default-transition-base;

      &:hover {
        @include default-scale-up;
      }

      .close-icon {
        height: 50%;
        width: 50%;
        color: $space-gray;
      }
    }
  }
}
