.trade-request-modal {
  width: 65rem;
  height: 45rem;
  max-width: none;
  padding: 0.5rem;
  border: 0.125rem solid $space-lightgreen;
  margin: 0;
  background-color: $space-gray;

  display: flex;
  justify-content: space-between;

  .header {
    width: 100%;
    background-color: $new-space-orange;
    color: black;
    text-align: center;
    padding: 0.2rem 0rem;
    margin-top: 0.5rem;
    h5 {
      font-weight: bold;
    }
  }

  .trade-request-container {
    width: 60%;
    margin: 0rem 0.5rem;

    .actions {
      height: 35rem;
      margin-top: 1rem;
      overflow: hidden;
    }
  }

  .active-accomplishments-container {
    width: 40%;
    margin: 0rem 0.5rem;

    .header {
      margin-top: 4rem;
    }

    .active-accomplishments {
      margin-top: 1rem;
      height: 31.5rem;
    }
  }
}
