.c-trade-request-modal {
  width: 80rem;
  height: 45rem;
  max-width: none;
  max-height: 80vh;
  padding: 0.5rem;
  border: 0.125rem solid $space-lightgreen;
  margin: 0;
  background-color: $space-gray;

  .wrapper {
    @include expand;
    max-width: none;
    @include reset-padding-margin;

    .trade-request {
      height: 100%;
      padding: 0 0.5rem 0 0;
      @include make-column-and-top;

      .topbar {
        height: 7.5%;
        flex-shrink: 0;
        width: 100%;
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        @include make-center;
        background-color: $space-lightgreen;

        .title {
          margin: 0 1rem 0 0;
          font-size: $font-med;
          font-weight: $font-weight-maven-pro-bold;
          color: $space-gray;
        }
      }

      .outer-wrapper {
        flex-grow: 1;
        width: 100%;
        overflow-y: hidden;
        height:100%;
        padding: 0.5rem;
        // border: 0.125rem solid $space-lightgreen-025;

        .wrapper {
          width: 100%;
          height: 100%;
          overflow-y: scroll;
        }
      }
    }

    .side-view {
      height: 100%;
      padding: 0;
      @include make-column-and-top;

      .buttons {
        height: 5%;
        flex-shrink: 0;
        width: 100%;
        margin-bottom: 0.5rem;
        @include make-center;

        button {
          @include reset-button;
          height: 100%;
          width: 50%;
          padding: 0;
          margin: 0;
          font-size: $font-med;
          font-weight: $font-weight-maven-pro-bold !important;
          color: $space-lightgreen;
          border: 0.125rem solid $space-lightgreen;

          &:disabled {
            opacity: 0.5;
          }
        }

        .selected {
          color: $space-gray;
          background-color: $space-lightgreen;
        }
      }

      .topbar {
        height: 7.5%;
        flex-shrink: 0;
        width: 100%;
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        @include make-center;
        background-color: $space-lightgreen;

        .title {
          margin: 0 1rem 0 0;
          font-size: $font-med;
          font-weight: $font-weight-maven-pro-bold;
          color: $space-gray;
        }
      }

      .inventory-wrapper {
        flex-grow: 1;
        width: 100%;
        // padding: 0.5rem;
        // border: 0.125rem solid $space-lightgreen-025;
        overflow-y: hidden;

        .inventory {
          width: 100%;
          overflow-y: scroll;
        }
      }

      .accomplishment-cards-wrapper {
        flex-grow: 1;
        width: 100%;
        padding: 0.5rem;
        background-color: $space-white-opaque-1;
        overflow-y: hidden;

        .accomplishment-cards {
          width: 100%;
          @include make-column-and-top;
          overflow-y: scroll;
        }
      }
    }
  }
}
