// CONTAINERS AND WRAPPERS

.c-footer {
  @include make-center;
}

.footer {
  background-color: $light-shade-05;
  position: absolute; // position footer relative to browser window
  //bottom: -15vh; // position at bottom
  width: 100%; // footer width = width of screen
  bottom: -15rem;
  height: 18rem; // height of footer

  font-size: $font-med;
  font-weight: 400;

  transition: 0.3s; // transition on hover
}

// BUTTON

.footer-button {
  z-index: 1;
  position: absolute; // position footer relative to browser window
  height: 3rem; // height of button
  bottom: 1rem; // position button slightly outside footer
  transition: 0.3s;
}

// ELEMENTS
.footer-copyright, .footer-license, .footer-build {
  text-transform: uppercase;
  font-size: smaller;
  color: whitesmoke;
}

.footer-license {
  text-decoration: underline;
}

.compute-canada {
  height: 20vh;
  top: 10vh;
}

.gbci {
  height: 5vh;
  top: 10vh;
}

.ii {
  height: 5vh;
  top: 10vh;
}

// HTML ELEMENTS

a {
  color: whitesmoke;
}
