.user-header {
  height: 2rem;
  width: 100%;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: blue;

  .problem,
  .logout,
  .switch {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .problem {
    a {
      @include reset-button;
      flex: 1;
      padding: 1px 7px 2px 7px;
      margin: 0.25rem 0;
      color: $light-accent;
      font-size: $font-small;
      text-decoration: none;
      @include default-transition-base;

      &:hover {
        color: $dark-shade;
        background-color: $light-accent;

        span {
          color: $dark-shade;
        }
      }

      span {
        color: $light-shade;
      }
    }
  }

  .logout {
    button {
      @include reset-button;
      flex: 1;
      margin: 0.25rem 0;
      color: $light-accent;
      font-size: $font-small;
      @include default-transition-base;

      &:hover {
        color: $dark-shade;
        background-color: $light-accent;

        span {
          color: $dark-shade;
        }
      }

      span {
        color: $light-shade;
      }
    }
  }
}
