.card-investment {
  width: calc(100% / 3);
  padding: 0.5rem;
  @include make-center;
  background-color: $space-white-opaque-1;

  .ci-container {
    @include expand;
    @include make-center;
    color: $space-gray;
    overflow: hidden;
    margin: 1rem 0rem;
  }

  .type {
    height: 100%;
    width: 70%;
    padding: 0.5rem;
    border: $border-white;
    position: relative;
    @include make-column-and-expand;
    background-color: $space-white;

    .name {
      margin-bottom: 0;
      font-size: $font-med;
      font-weight: $font-weight-maven-pro-medium;
      color: $space-gray;
      text-transform: capitalize;
    }

    img {
      height: 4.5rem;
      width: 4.5rem;
    }

    .data {
      width: 100%;
      @include make-horizontal-between;

      .investment {
        height: 2rem;
        @include make-center;

        .icon {
          margin-right: 0.5rem;
          color: $space-gray;
        }

        p {
          margin-bottom: 0;
          font-size: $font-large;
          font-weight: $font-weight-maven-pro-medium;
          text-align: center;
          color: $status-green;
        }
      }

      .cost {
        @include make-center;

        .icon {
          margin-right: 0.5rem;
          color: $space-gray;
        }

        p {
          margin-bottom: 0;
          font-size: $font-large;
          font-weight: $font-weight-maven-pro-medium;
          text-align: center;
          color: $space-gray;
        }
      }
    }
  }

  .increment-decrement {
    height: 100%;
    width: 30%;
    @include make-column-and-center;
    background-color: $space-gray;

    .increment,
    .decrement {
      height: 50%;
      width: 100%;
      border: $border-white;
      font-size: $font-large;
      font-weight: $font-weight-maven-pro-bold;
      color: $space-white;
      background: transparent;
      @include default-transition-base;

      &:focus,
      &:active {
        outline: none;
      }

      &:hover {
        color: $space-gray;
        background-color: $new-space-orange;
        cursor: pointer;
      }
    }

    .increment {
      border-left: none;
      border-bottom: none;
    }

    .decrement {
      border-top: none;
      border-left: none;
    }
  }

  .increment-decrement-disabled {
    height: 100%;
    width: 30%;
    border: $border-white;
    border-left: none;
    background-color: $space-gray;
  }
}
