.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  width: 100%;
  margin: 0;
  font-size: $font-large;
  font-weight: $font-weight-maven-pro-bold;
  color: $space-white;
  @include text-overflow-ellipses;
}

.button {
  @include reset-button;
  @include default-transition-base;
  //padding: 0.5rem 1rem;
  border: solid 0.125rem $new-space-orange;
  border-radius: 0;
  //margin-left: 0.5rem;
  color: $new-space-orange;
  font-size: $font-med;
  font-weight: $font-weight-maven-pro-medium !important;
  text-align: center;

  &:hover {
    color: $space-gray;
    background-color: $new-space-orange;
  }
}
