.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  width: 100%;
  margin: 0;
  font-size: $font-large;
  font-weight: $bold;
  color: $light-shade;
  @include text-overflow-ellipses;
}

.button {
  @include reset-button;
  @include default-transition-base;
  //padding: 0.5rem 1rem;
  border: solid 0.125rem $light-accent;
  border-radius: 0;
  //margin-left: 0.5rem;
  color: $light-accent;
  font-size: $font-med;
  font-weight: $medium !important;
  text-align: center;

  &:hover {
    color: $dark-shade;
    background-color: $light-accent;
  }
}
