.modal-view {
  border: none;
  max-height: 20rem !important;
}

.cost {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 50%;
  margin: 0.125rem;
  background-color: $light-shade;
}

.unattainable-resource {
  background-color: $light-shade-25 !important;
}

// ACCOMPLISHMENT : STATUS STYLING

// default
.default {
  border: 0.125rem solid $light-shade;
  background-color: $light-shade;

  button {
    @include space-button-white;
  }
}

// purchasable
.purchasable {
  border: 0.125rem solid $light-accent;
  background-color: $light-accent;

  button {
    @include space-button;
  }
}

// unpurchasable
.unpurchasable {
  border: 0.125rem solid $light-shade;
  background-color: $light-shade;

  button {
    @include space-button-white;
  }
}

// discarded
.discarded {
  @include default-transition-base;
  border: 0.125rem solid $status-red;
  background-color: $status-red;

  .text {
    color: $status-red;
    font-size: $font-med;
    font-weight: bold;
  }
}

// purchased
.purchased {
  @include default-transition-base;
  border: 0.125rem solid $status-green;
  background-color: $status-green;

  .text {
    color: $status-green;
    font-size: $font-med;
    font-weight: bold;
  }
}
