.c-accomplishment-card {
  width: 100%;
  padding: 0;
  margin: 0 0 0.5rem 0;
  @include make-column-and-center;
  flex-shrink: 0;
  align-items: stretch;

  &:last-child {
    margin-bottom: 0;
  }

  .title-wrapper,
  .info-wrapper,
  .cost-wrapper,
  .purchase-wrapper,
  .discard-wrapper,
  .status-text {
    @include default-transition-base;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }

  .title {
    padding: 0;
    position: relative;

    p {
      width: 100%;
      margin-bottom: 0;
      font-size: $font-med;
      font-weight: $medium;
      text-align: center;
      @include text-overflow-ellipses;
    }
  }

  .info-wrapper {
    background-color: $dark-shade;
  }

  .points {
    padding: 0 0.5rem;
    @include make-column-and-center;

    p {
      width: 100%;
      margin-bottom: 0;
      font-size: $font-med;
      font-weight: $regular;
      color: $light-shade;
      text-align: center;
    }
  }

  .flavortext {
    padding: 0 0.5rem;

    p {
      width: 100%;
      margin-bottom: 0;
      font-size: $font-med;
      font-weight: $regular;
      color: $light-shade;
    }
  }

  .cost-wrapper {
    background-color: $dark-shade;

    .cost {
      padding: 0;
      @include make-center;
      flex-wrap: wrap;

      .container {
        @include make-center;
        height: 2rem;
        width: 2rem;
        padding: 0.25rem;
        border-radius: 50%;
        margin: 0.125rem;
        background-color: $light-shade;

        img {
          @include expand;
        }
      }

      .unattainable-resource {
        background-color: $light-shade-25 !important;
      }
    }
  }

  .purchase-wrapper {
    background-color: $dark-shade;

    .purchase {
      padding: 0;
      @include make-center;
    }
  }

  .discard-wrapper {
    background-color: $dark-shade;

    .discard {
      padding: 0;
      @include make-center;
    }
  }

  .status-text {
    background-color: $dark-shade;
    text-align: center;
  }
}

.default {
  border: 0.125rem solid $light-shade;
  background-color: $light-shade;

  .purchase button,
  .discard button {
    @include space-button-white;
  }
}

.purchasable {
  border: 0.125rem solid $light-accent;
  background-color: $light-accent;

  .purchase button,
  .discard button {
    @include space-button;
  }
}

.unpurchasable {
  border: 0.125rem solid $light-shade;
  background-color: $light-shade;

  .purchase button,
  .discard button {
    @include space-button-white;
  }
}

.discarded {
  @include default-transition-base;
  border: 0.125rem solid $status-red;
  background-color: $status-red;

  .text{
    color: $status-red;
    font-size: $font-med;
    font-weight: bold;
  }
}

.purchased {
  @include default-transition-base;
  border: 0.125rem solid $status-green;
  background-color: $status-green;

  .text{
    color: $status-green;
    font-size: $font-med;
    font-weight: bold;
  }
}

.modal-view{
  border:none;
  max-height: 17rem !important;
}

.hide-card {
  animation: hide 0.3s linear 1.5s 1 forwards;
}

@keyframes hide{
  0%{
    opacity: 100%;
  }

  100%{
    opacity: 0;
    height:0;
  }
}
