.c-accomplishmentcard {
  width: 100%;
  padding: 0;
  margin: 0 0 0.5rem 0;
  @include make-column-and-center;
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0;
  }

  .title-wrapper,
  .info-wrapper,
  .cost-wrapper,
  .purchase-wrapper,
  .discard-wrapper,
  .status-text {
    @include default-transition-base;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }

  .title-wrapper {
    .title {
      padding: 0;
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        right: 0rem;
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        color: $space-gray;
        @include default-transition-base;

        &:hover {
          @include default-scale-up;
        }
      }

      p {
        width: 100%;
        margin-bottom: 0;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-medium;
        //color: $space-gray;
        text-align: center;
        @include text-overflow-ellipses;
      }
    }
  }

  .info-wrapper {
    background-color: $space-gray;

    .points {
      padding: 0 0.5rem;
      @include make-column-and-center;

      p {
        width: 100%;
        margin-bottom: 0;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-regular;
        color: $space-white;
        text-align: center;
      }
    }

    .flavortext {
      padding: 0 0.5rem;

      p {
        width: 100%;
        margin-bottom: 0;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-regular;
        color: $space-white;
      }
    }
  }

  .cost-wrapper {
    background-color: $space-gray;

    .cost {
      padding: 0;
      @include make-center;
      flex-wrap: wrap;

      .container {
        @include make-center;
        height: 2rem;
        width: 2rem;
        padding: 0.25rem;
        border-radius: 50%;
        margin: 0.125rem;
        background-color: $space-white;

        img {
          @include expand;
        }
      }

      .unattainable-resource {
        background-color: $space-white-opaque-2 !important;
      }
    }
  }

  .purchase-wrapper {
    background-color: $space-gray;

    .purchase {
      padding: 0;
      @include make-center;
    }
  }

  .discard-wrapper {
    background-color: $space-gray;

    .discard {
      padding: 0;
      @include make-center;
    }
  }

  .status-text {
    background-color: $space-gray;
    text-align: center;
  }
}

.default {
  border: 0.125rem solid $space-white;
  background-color: $space-white;

  .purchase button,
  .discard button {
    @include space-button-white;
  }
}

.purchasable {
  border: 0.125rem solid $new-space-orange;
  background-color: $new-space-orange;

  .purchase button,
  .discard button {
    @include space-button;
  }
}

.unpurchasable {
  border: 0.125rem solid $space-white;
  background-color: $space-white;

  .purchase button,
  .discard button {
    @include space-button-white;
  }
}

.discarded {
  @include default-transition-base;
  border: 0.125rem solid $status-red;
  background-color: $status-red;

  .text{
    color: $status-red;
    font-size: $font-med;
    font-weight: bold;
  }
}

.purchased {
  @include default-transition-base;
  border: 0.125rem solid $status-green;
  background-color: $status-green;

  .text{
    color: $status-green;
    font-size: $font-med;
    font-weight: bold;
  }
}

.hide-card{
  animation: hide 0.3s linear 1.5s 1 forwards;
}

@keyframes hide{
  0%{
    opacity: 100%;
  }

  100%{
    opacity: 0;
    height:0;
  }
}
