// ACCOMPLISHMENT : CARD STYLING

button {
  &:disabled {
    cursor: not-allowed;
  }
}

.modal-view {
  border: none;
  max-height: 17rem !important;
}


.cost {
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  border-radius: 50%;
  margin: 0.125rem;
  background-color: $light-shade;

  img {
    @include expand;
  }
}

.unattainable-resource {
  background-color: $light-shade-25 !important;
}

// ACCOMPLISHMENT : STATUS STYLING

// default
.default {
  border: 0.125rem solid $light-shade;
  background-color: $light-shade;

  button {
    @include space-button-white;
  }
}


// purchasable
.purchasable {
  border: 0.125rem solid $light-accent;
  background-color: $light-accent;

  button {
    @include space-button;
  }
}

// unpurchasable
.unpurchasable {
  border: 0.125rem solid $light-shade;
  background-color: $light-shade;

  button {
    @include space-button-white;
  }
}

// discarded
.discarded {
  @include default-transition-base;
  border: 0.125rem solid $status-red;
  background-color: $status-red;

  .text {
    color: $status-red;
    font-size: $font-med;
    font-weight: bold;
  }
}

// purchased
.purchased {
  @include default-transition-base;
  border: 0.125rem solid $status-green;
  background-color: $status-green;

  .text {
    color: $status-green;
    font-size: $font-med;
    font-weight: bold;
  }
}



.hide-card {
  animation: hide 0.3s linear 1.5s 1 forwards;
}


// ANIMATION : hide card

@keyframes hide {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
