$screen-sm: 480px;
$screen-md: 640px;
$screen-lg: 960px;
$screen-xl: 1280px;
$screen-xxl: 1680px;

@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$screen-xxl}) {
    @content;
  }
}

@mixin text-overflow-ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin disable-scroll {
  &::-webkit-scrollbar {
    height: 0;
    width: 0 !important;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin reset-button {
  border: none;
  background: transparent;
  &:focus,
  &:active {
    outline: none;
  }
}

@mixin space-button-base {
  @include reset-button;
  padding: 0.5rem 0.75rem;
  // margin: 0.5rem 0;
  font-size: $font-med;
  font-weight: $font-weight-maven-pro-regular;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }
}

@mixin space-button {
  @include space-button-base;
  color: $new-space-orange;
  border: 0.0625rem solid $new-space-orange;

  &:hover {
    color: $space-gray;
    background-color: $new-space-orange;
  }

  &:disabled:hover {
    color: $new-space-orange;
    background-color: transparent;
  }
}

@mixin space-button-white {
  @include space-button-base;
  color: $space-white;
  border: 0.0625rem solid $space-white;

  &:hover {
    color: $space-gray;
    background-color: $space-white;
  }

  &:disabled:hover {
    color: $space-white;
    background-color: transparent;
  }
}

@mixin space-button-modal {
  @include space-button-base;
  color: $space-lightgreen;
  border: 0.0625rem solid $space-lightgreen;

  &:hover {
    color: $space-gray;
    background-color: $space-lightgreen;
  }

  &:disabled:hover {
    color: $space-lightgreen;
    background-color: transparent;
  }
}

@mixin reset-padding-margin {
  padding: 0;
  margin: 0;
}

@mixin border-orange {
  border: 0.125rem solid $new-space-orange-opaque-025;
}

@mixin new-border-orange {
  border: 0.125rem solid $new-space-orange-opaque-025;
}

@mixin border-bottom-white {
  border-bottom: 0.125rem solid $space-white-opaque-2;
}

@mixin expand {
  height: 100%;
  width: 100%;
}

@mixin default-transition-base {
  transition: all 0.15s ease-in-out;
}

@mixin default-transition-button {
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

@mixin default-scale-up {
  transform: scale(1.1);
}

@mixin make-column-and-expand {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

@mixin make-column-and-space-around {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

@mixin make-column-and-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin make-column-and-top {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin make-column-and-left {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin make-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin make-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin make-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin make-horizontal-expand {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin make-horizontal-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
}

@mixin column-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  width: 100%;
}

@mixin column-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  width: 100%;
}

@mixin column-3 {
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
}

@mixin column-6 {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

@mixin column-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  width: 100%;
}

@mixin column-9 {
  flex: 0 0 75%;
  max-width: 75%;
  width: 100%;
}

@mixin column-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  width: 100%;
}

@mixin column-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}
