// SIZE

$max-screen-height: 62.5625rem;
$max-screen-width: 120rem;
$min-screen-height: 48rem;
$min-screen-width: 64rem;

// FONT

$font-family-default: 'Maven Pro', sans-serif;
$font-small: 0.75rem;
$font-med: 1rem;
$font-large: 1.5rem;

$font-weight-maven-pro-regular: 400;
$font-weight-maven-pro-medium: 500;
$font-weight-maven-pro-semibold: 600;
$font-weight-maven-pro-bold: 700;

// COLOR

$space-gray: #1e2223;
$space-orange: #c67b5c;
$space-white: #f5f5f5;
$space-white-opaque-1: rgba(245, 245, 245, 0.05);
$space-white-opaque-2: rgba(245, 245, 245, 0.25);
$space-orange-opaque-2: rgba(198, 123, 92, 0.25);

$color-Researcher: rgba(67, 124, 174, 0.2);
$color-Pioneer: rgba(111, 36, 134, 0.2);
$color-Curator: rgba(103, 65, 29, 0.2);
$color-Entrepreneur: rgba(199, 168, 40, 0.2);
$color-Politician: rgba(170, 42, 41, 0.2);
$color-Upkeep: rgba(45, 143, 68, 0.2);
$color-Upkeep-opaque-2: rgba(45, 143, 68, 0.25);

$status-green: rgba(45, 143, 68, 1);
$status-green-dark: rgb(11, 77, 26);
$status-yellow: rgba(199, 168, 40, 1);
$status-red: rgba(170, 42, 41, 1);

$marslog-red: rgba(170, 42, 41, 0.05);
$marslog-green: rgba(9, 92, 41, 0.5);
$marslog-purple: rgba(111, 36, 134, 0.05);
$marslog-orange: rgba(170, 111, 0, 0.05);

// BORDERS
$border-white: 0.125rem solid $space-white;
$border-white-opaque-2: 0.125rem solid $space-white-opaque-2;

// NEW
$space-lightgray: rgba(167, 167, 169, 1);
$space-lightgray-025: rgba(167, 167, 169, 0.25);
$space-lightgreen: rgba(161, 211, 219, 1);
$space-gray-0975: rgba(30, 34, 35, 0.975);
$new-space-orange: rgba(221, 168, 119, 1);
$new-space-orange-opaque-025: rgba(221, 168, 119, 0.25);
