// SIZE

$max-screen-height: 62.5625rem;
$max-screen-width: 120rem;
$min-screen-height: 48rem;
$min-screen-width: 64rem;

// FONT

$exo: "Exo", sans-serif;
$ruda: "Ruda", sans-serif;
$khula: "Khula", sans-serif;
$montserrat: "Montserrat", sans-serif;
$font-small: 0.75rem;
$font-med: 1rem;
$font-large: 1.5rem;

$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// COLOR

$main-brand: rgb(156, 81, 71);
$main-brand-5: rgba(156, 81, 71, 0.5);

$dark-accent: #a49ca6; // accent - modal borders, hover,

$dark-shade: rgb(34, 26, 27); // background color
$dark-shade-9: rgba(34, 26, 27, 0.9);
$dark-shade-75: rgba(34, 26, 27, 0.75);

$light-accent: rgb(202, 166, 110);
$light-accent-25: rgba(202, 166, 110, 0.25);

$light-shade: rgb(241, 224, 197);
$light-shade-05: rgba(241, 224, 197, 0.05);
$light-shade-10: rgba(241, 224, 197, 0.1);
$light-shade-25: rgba(241, 224, 197, 0.25); // used for borders
$light-shade-5: rgba(241, 224, 197, 0.5);

// buttons

$primary: rgba(140, 63, 64, 1);
$info: rgba(35, 35, 36, 1);
$success: rgba(95, 141, 75, 1);
$warning: rgba(221, 125, 19, 1);
$danger: rgba(244, 67, 54, 1);
$light: rgba(202, 166, 110, 1);
$dark: rgba(34, 26, 27, 1);

$color-Researcher: rgba(67, 124, 174, 0.2);
$color-Pioneer: rgba(111, 36, 134, 0.2);
$color-Curator: rgba(103, 65, 29, 0.2);
$color-Entrepreneur: rgba(199, 168, 40, 0.2);
$color-Politician: rgba(170, 42, 41, 0.2);
$color-Upkeep: rgba(45, 143, 68, 0.2);
$color-Upkeep-opaque-2: rgba(45, 143, 68, 0.25);

$status-green: rgba(45, 143, 68, 1);
$status-green-dark: rgb(11, 77, 26);
$status-yellow: rgba(199, 168, 40, 1);
$status-red: rgba(170, 42, 41, 1);

$marslog-red: rgba(170, 42, 41, 0.05);
$marslog-green: rgba(9, 92, 41, 0.5);
$marslog-purple: rgba(111, 36, 134, 0.05);
$marslog-orange: rgba(170, 111, 0, 0.05);

// BORDERS
$border-white: 0.125rem solid $light-shade;
$border-white-opaque-2: 0.125rem solid $light-shade-25;

// NEW

$new-space-orange: rgba(221, 168, 119, 1);
$new-space-orange-005: rgba(221, 168, 119, 0.05);
$new-space-orange-opaque-025: rgba(221, 168, 119, 0.25);

/* -------------------  CLASSES FOR TESTING -------------------  */
.bg-test-red {
  background-color: red;
}

.bg-test-yellow {
  background-color: yellow;
}

.bg-test-orange {
  background-color: orange;
}

.bg-test-green {
  background-color: green;
}

.bg-test-blue {
  background-color: blue;
}

.bg-test-purple {
  background-color: purple;
}
