// PHASE CONTAINER COLORS

$phase-topbar-background: $main-brand;
$phase-topbar-foreground: $dark-shade;

// MODAL COLORS

$modal-background-default: $main-brand;
$modal-foreground-default: $dark-shade;

// PROFILE MENU COLORS
// $profile-menu-background-default: rgba(43, 45, 66, 1);
$profile-menu-background-default: $dark-accent;
$profile-menu-foreground-default: $light-shade;
