// PHASE CONTAINER COLORS

$phase-topbar-background: rgba(188, 171, 174, 1);
$phase-topbar-foreground: $space-gray;

// MODAL COLORS

$modal-background-default: $space-lightgreen;
$modal-foreground-default: $space-gray;

// PROFILE MENU COLORS
// $profile-menu-background-default: rgba(43, 45, 66, 1);
$profile-menu-background-default: rgba(95, 80, 107, 1);
$profile-menu-foreground-default: $space-white;
