.trade-r{
  background-color: $space-white-opaque-1;
  color: white;
  flex: 1;
  justify-content: center;  

  .trade-partner p {
    border-bottom: 0.125rem solid $space-orange;
  }
  
  .person-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    p{
      border:none;
    }
    
    .trade-person-icons {
      display: inline-block;
      text-align: center;
      height: 100%;
    }

    

    .person-frame{
      height: 3rem;
      width: 3rem;
      padding: 0.25rem;
      border: 0.0625rem solid $space-orange;
      border-radius: 50%;
      margin: 0 1rem;
      @include make-center;
      @include default-transition-base;

      &:hover {
        @include default-scale-up;
        cursor: pointer;
      }
    }

    .person-icons {
      width: 5rem;
      height: 100%;
      padding: 0.25rem;
      
    }

    .selected-player {
      background-color: $space-orange;
      
    }
  }
  
  .trade-send-options {
    width: 100%;
    

    .options-block {
      width: 100%;
      
    }
  }

  .trade-send {
    margin-top:1rem;
    margin-left: 0.5rem;

    .trade-impossible{
      opacity: 50%;
    }
  }

}

.inactive-action{
  opacity: 50%;
}
