.trade-resources{
  margin-bottom: 1rem;

  .type-text{
    margin-left:0.5rem;
  }

  .resource-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;


    .send-investments {
      display: inline-block;
      margin-right: 0.4rem;
      
      .resource-icon {
        width: 2rem;
        margin: 0.3rem 0.2rem 0.2rem 0.2rem;
      }

      .resource-amount {
        width: 3.5rem;
        //margin: 0.2rem;
      }
    }

    

  }
}
