.trade-request {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $space-white-opaque-1;
}

.trade-request p {
  border-bottom: 0.125rem solid $space-orange;
}

.trade-partner {
  width: 100%;
  align-self: flex-start;
}

.trade-person-icons {
  display: inline-block;
}

.trade-send-options {
  width: 100%;
  align-self: flex-start;
}

.person-icons {
  width: 7rem;
  margin: 0.5rem;
  padding: 0.2rem;
  overflow: hidden;
}

.selected-player {
  border-style: solid;
  border-color: red;
}

.options-block {
  display: inline-block;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.trade-send {
  margin: 0.2rem;
  align-self: flex-end;
}

.trade-impossible{
  opacity: 50%;
}