.trade-request-component {
  height: 100%;
  
  color: $space-white;
  background-color: $space-white-opaque-1;

  .trade-partner {
    margin-bottom: 0.5rem;

    .wrapper {
      min-height: 2rem;
      width: 100%;
      padding: 0.125rem 0;
      margin-bottom: 1rem;
      @include make-horizontal-between;
      flex-wrap: wrap;

      .trade-title {
        flex: 1;
        align-items: center;
        margin: 0 0.5rem;
        font-size: $font-med;
        text-align: left;
        text-transform: uppercase;

        span {
          color: $new-space-orange;
        }

        .none {
          color: $space-white-opaque-2;
        }
      }
    }

    .bottom-wrapper {
      @include make-center;
      justify-content: space-around;
      flex-wrap: wrap;

      .trade-person-icons {
        height: 7rem;
        width: 7rem;
        margin: 0.5rem;
      }

      .person-frame {
        @include expand;
        padding: 0.25rem;
        border: 0.0625rem solid $new-space-orange;
        border-radius: 50%;
        @include make-center;
        @include default-transition-base;

        &:hover {
          @include default-scale-up;
          background-color: $new-space-orange;
          cursor: pointer;
        }

        .person-icons {
          height: 80%;
        }
      }

      .selected-player {
        background-color: $new-space-orange;
      }
    }
  }

  .trade-send-options {
    width: 100%;
    @include make-column-and-top;

    .options-block {
      width: 100%;
    }

    button {
      
      @include reset-button;
      height: 3rem;
      width: 100%;
      border: 0.0625rem solid $new-space-orange;
      margin-top: 1.9rem;
      color: $new-space-orange;
      @include default-transition-base;

      

      &:disabled {
        opacity: 0.5;
      }

      &:hover:not(:disabled) {
        color: $space-gray;
        background-color: $new-space-orange;
      }
    }
  }

  .error-messages {
    .show-error {
      color: $status-red;
      margin-left: 0.5rem;
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }

    .hide-error {
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
  }
}
