.trade-resources{
  // @include expand;
}

.resource-icon {
  width: 2rem;
  margin: 0rem 0.2rem 0.2rem 0.2rem;
}

.send-investments {
  display: inline-block;
  text-align: center;
}

.resource-amount {
  width: 3rem;
  margin: 0.2rem;
}
