.trade-options {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  .type-text {
    margin: 0.25rem 0.5rem;
    font-size: $font-small;
    text-align: left;
    text-transform: uppercase;
  }

  .wrapper {
    margin: 0.25rem 0.5rem;
    display: flex;
    flex-wrap: wrap;

    .investments {
      // background-color: white;
      height: 3rem;
      width: calc(100 / 2 * 1%);
      padding: 0.25rem;
      @include make-horizontal-expand;

      .icon {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.25rem;
      }

      .input-wrapper {
        height: 2.5rem;
        @include make-center;
        // background-color: green;

        .outgoing-amount,
        .incoming-amount {
          height: 2.5rem;
          width: 4rem;
          // margin: 0 0.25rem;
        }

        .impossible-resource {
          opacity: 0.5;
        }

        /* Firefox */
        input[type='number'] {
          // height: 3rem;
          padding: 0.25rem;
          border: 0.0625rem solid $new-space-orange;
          border-right: none;
          text-align: center;
          color: $new-space-orange;
          background-color: transparent;
          -moz-appearance: textfield;

          &:focus,
          &:active {
            outline: none;
          }

          /*Chrome, safari, opera*/
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .button-container {
          height: 100%;
          border: 0.0625rem solid $new-space-orange;
          @include make-column-and-center;

          button {
            @include reset-button;
            height: 50%;
            width: 1.5rem;
            padding: 0;
            color: $space-gray;
            background-color: $new-space-orange;
            font-size: 0.75rem;
            @include default-transition-base;

            &:hover:not(:disabled) {
              color: $new-space-orange;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
