.trade-request-component {
  min-height: 100%;
  padding: 0.5rem;
  // flex: 1;
  color: $space-white;
  background-color: $space-white-opaque-1;

  .trade-partner {
    margin-bottom: 1rem;

    .trade-title {
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.5rem;
      font-size: $font-med;
      text-align: center;
      text-transform: uppercase;

      span {
        color: $new-space-orange;
      }

      .none {
        color: $space-white-opaque-2;
      }
    }

    .wrapper {
      @include make-center;
      justify-content: space-around;
      flex-wrap: wrap;

      .trade-person-icons {
        height: 4rem;
        width: 4rem;
        margin: 0.25rem;
      }

      .person-frame {
        @include expand;
        padding: 0.25rem;
        border: 0.0625rem solid $new-space-orange;
        border-radius: 50%;
        @include make-center;
        @include default-transition-base;

        &:hover {
          @include default-scale-up;
          background-color: $new-space-orange;
          cursor: pointer;
        }

        .person-icons {
          height: 80%;
        }
      }

      .selected-player {
        background-color: $new-space-orange;
      }

      
    }


  }

  .trade-send-options {
    width: 100%;
    margin-bottom: 1rem;

    .options-block {
      width: 100%;
    }
  }

  

  .error-messages{
    
    .show-error{
      color: $status-red;
      margin-left: 0.5rem;
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }

    .hide-error{
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
  
  }
  .trade-send {
    padding: 0.25rem;
    @include make-center;

    button {
      @include reset-button;
      height: 2.25rem;
      width: 9.375rem;
      border: 0.0625rem solid $new-space-orange;
      color: $new-space-orange;
      @include default-transition-base;

      &:disabled {
        opacity: 0.5;
      }

      &:hover:not(:disabled) {
        color: $space-gray;
        background-color: $new-space-orange;
      }
    }
  }
}
