.trade {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $space-gray;
  color: $space-white;
  overflow-x: scroll;
  @include disable-scroll;
}

.trade:last-child {
  margin-bottom: 0;
}

.trade-icon {
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-icon i {
  color: $space-white;
}

.trade-profile-sender-container,
.trade-profile-receiver-container {
  height: 100%;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-profile-sender,
.trade-profile-receiver {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $space-white;
}

.trade-profile-sender img,
.trade-profile-receiver img {
  height: 100%;
}

.trade-send-receive {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.send,
.receive {
  height: 100%;
  flex-grow: 1;
  max-width: 18rem;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.send-sender,
.receive-receiver {
  height: 50%;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}

.send-sender p,
.receive-receiver p {
  width: 100%;
  margin: 0;
  font-size: $font-small;
  text-align: center;
  color: $space-gray;
  background-color: $space-orange;
}

.send-investments-container,
.receive-investments-container {
  height: 50%;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-investments,
.receive-investments {
  height: 100%;
  display: flex;
  align-items: center;
}

.send-investments img,
.receive-investments img {
  height: 1.5rem;
  width: 1.5rem;
}

.send-investments p,
.receive-investments p {
  margin: 0 0.5rem;
  font-size: $font-small;
}

.trade-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trade-buttons button {
  height: 50%;
  width:4rem;
  border: none;
  font-size: $font-small;
  background-color: $space-orange;
  transition: all 0.2s ease-in-out;
}

.trade-buttons button:hover {
  transform: scale(1.1);
}

.accept-trade{
  opacity: 75%;
}
