.container-board {
  @include expand;
  /* SET MAX SIZE OF SCREEN */
  max-height: $max-screen-height;
  max-width: $max-screen-width;
  /* SET MIN SIZE OF SCREEN */
  min-height: $min-screen-height;
  min-width: $min-screen-width;
  padding: 2rem 1rem 1rem 1rem;
  margin: 0;
  position: relative;
  @include row;
  // background-color: $space-gray;

  .left,
  .right {
    height: 100%;
    @include column-2;
    @include reset-padding-margin;
    position: relative;
  }

  .middle {
    height: 100%;
    @include column-8;
    @include reset-padding-margin;

    .top,
    .bottom {
      @include row;
      @include reset-padding-margin;
    }

    .top {
      height: 40%;
    }

    .bottom {
      height: 60%;
      @include make-center;
    }
  }
}
