.go-to-lobby-modal{
    border: 0.0625rem solid $new-space-orange !important;
    color:white;
    z-index: 999;
    background-color: #17191a;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 42%;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    justify-content:space-around;

    .content{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-left: auto;
        margin-right: auto;

        .text-content{
            .thank-you-text{
                color: $new-space-orange;
                font-size: $font-large;
            }

            .upcoming-text{
                margin-left: 0.5rem;
            }
        }

        .profile {
            width: 100%;
            margin-left: 6rem;
            margin-top: 1rem;
            
            flex: 1;
            @include make-column-and-center;
          
            .p-container {
              @include make-column-and-center;
              
              .frame-outer {
                height: 14rem;
                width: 14rem;
                padding: 0.25rem;
                @include border-orange;
                border-radius: 50%;
                margin-bottom: 1rem;
          
                .frame-inner {
                  @include expand;
                  border-radius: 50%;
                  @include make-center;
                  background-color: $new-space-orange;
          
                  img {
                    height: 80%;
                  }
                }
              }
          }
        }
      
    }
  
    .lobby-button{
      align-self: center;
      
      
      @include reset-button;
      padding: 1rem !important;
      border: 0.0625rem solid $new-space-orange !important;
      border-radius: 0 !important;
      margin: 0.5rem;
      color: $new-space-orange;
      @include default-transition-base;    
      
      &:hover {
        @include default-scale-up;
        color: $space-gray;
        background-color: $new-space-orange;
        outline: none !important;
      }
    }
  }