.quiz-question-container {
  background-color: $space-white;
  border-radius: 0.5rem;
  height: 27rem;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

.quiz-question-title {
  text-align: center;
  width: 100%;
  height: auto;
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
}

.quiz-question-form-container {
  width: 100%;
  height: auto;
  align-self: flex-end;
}

.quiz-questions {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

.quiz-buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
}

.next-button {
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: rgb(105, 224, 105);
}

.prev-button {
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgb(224, 105, 105);
}
