.quiz-form {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border: 0.0625rem solid $space-orange-opaque-2;
  @include make-column-and-expand;
  color: $space-white;

  .title {
    padding: 0.5rem;
    width: 100%;

    p {
      width: 100%;
      margin-bottom: 0;
      font-weight: 700;
      text-align: center;
    }

    .number {
      font-size: $font-med;
    }

    .question {
      font-size: $font-large;
    }
  }

  .wrapper {
    height: 50%;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;

    form {
      @include expand;
      @include make-column-and-expand;

      .questions {
        flex-grow: 1;
        width: 100%;
        padding: 0.5rem;
        @include make-left;

        button {
          @include reset-button;
          height: 1.5rem;
          width: 1.5rem;
          padding: 0;
          border: 0.0625rem solid $space-orange-opaque-2;
          margin: 0 0.5rem;
          @include default-transition-base;

          &:hover {
            color: $space-gray;
            background-color: $space-orange-opaque-2;
          }
        }

        p {
          margin: 0 0.5rem;
          font-size: $font-med;
        }
      }
    }
  }

  .button-container {
    width: 100%;
    padding: 0.5rem;
    @include make-horizontal-expand;
    justify-content: space-between;

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      border: 0.0625rem solid $space-orange;
      color: $space-orange;
      @include default-transition-base;

      &:disabled,
      &:disabled:hover {
        border: 0.0625rem solid $space-orange-opaque-2;
        background: transparent;
        color: $space-orange-opaque-2;
      }

      &:hover {
        color: $space-gray;
        background-color: $space-orange;
      }
    }
  }
}
