#bv-modal___BV_modal_content_ {
  border: 0.125rem solid $light-accent !important;
  color: blue !important;
  font-family: $ruda !important;
  code {
    color: $light-accent !important;
  }

  ul {
    margin: 0rem 1rem;
    padding: 0rem 0rem;

    li {
      list-style-type: none;
    }
  }

  button {
    @include reset-button;
    padding: 0.5rem !important;
    border: 0.125rem solid $light-accent !important;
    border-radius: 0 !important;
    margin: 0.5rem;
    color: $light-accent;
    @include default-transition-base;

    &:hover {
      @include default-scale-up;
      color: $dark-shade;
      background-color: $light-accent;
      outline: none !important;
    }
  }
}
