.profile {
  width: 100%;
  flex: 1;
  @include make-column-and-center;

  .p-container {
    @include make-column-and-center;

    .frame-outer {
      height: 5rem;
      width: 5rem;
      padding: 0.25rem;
      @include border-orange;
      border-radius: 50%;
      margin-bottom: 1rem;

      .frame-inner {
        @include expand;
        border-radius: 50%;
        @include make-center;
        background-color: $space-white-opaque-1;

        img {
          height: 80%;
        }
      }
    }

    p {
      padding: 0 0.5rem;
      margin: 0 0 0.5rem 0;
      flex-grow: 1;
      font-size: $font-large;
      color: $space-gray;
      background-color: $space-white;
    }
  }
}
