.notification {
  height: 5rem;
  width: calc(calc(100 / 12) * 2%);
  padding: 0.75rem;
  border-radius: 0.75rem;
  position: absolute;
  z-index: 2;
  left: 1rem;
  top: 4rem;
  @include make-column-and-expand;
  align-items: flex-start;
  background-color: $space-orange;
  cursor: pointer;
  @include default-transition-base;

  .close,
  .message {
    width: 100%;
    margin: 0;
    font-size: $font-small;
    text-align: left;
    @include text-overflow-ellipses;
  }

  .close {
    text-align: center;
  }
}
