.card-accomplishment {
  min-height: 10rem;
  width: 100%;
  margin-bottom: 0.5rem;
  @include make-column-and-center;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    width: 100%;
    margin-bottom: 0.5rem;
    color: $space-gray;
    //background-color: $space-white;

    p {
      width: 100%;
      padding: 0.25rem 0.5rem;
      margin-bottom: 0;
      text-align: center;
      @include text-overflow-ellipses;
    }
  }

  .info {
    min-height: 50%;
    width: 100%;
    padding: 0.5rem;
    @include make-horizontal-expand;
    background-color: $space-gray;

    .points {
      margin-right: 0.5rem;
      @include make-column-and-center;

      p {
        margin-bottom: 0;
        color: $space-white;
      }
    }

    .flavor-text {
      width: 50%;

      p {
        margin: 0.5rem 0;
        color: $space-white;
      }
    }

    .cost {
      max-width: 20%;
      @include make-center;
      flex-wrap: wrap;

      p {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.125rem;
        padding: 0;
      }
    }
  }

  .purchase {
    width: 100%;
    padding: 0.5rem;
    @include make-center;
    background-color: $space-gray;

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      border: 0.0625rem solid $space-orange;
      margin: 0.5rem;
      color: $space-orange;
      @include default-transition-base;
      font-size: $font-small;

      &:hover {
        color: $space-gray;
        background-color: $space-orange;
      }

      &:disabled {
        opacity: 0.5;
      }

      &:disabled:hover {
        color: $space-orange;
        background-color: transparent;
      }
    }
  }
}

.unpurchasable{
  background-color: $space-white;
  opacity: 0.5;
}

.purchasable{
  background-color: $space-orange;
  
}
