.card-accomplishment {
  width: 100%;
  margin-bottom: 0.5rem;
  @include make-column-and-center;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    width: 100%;

    p {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0;
      color: $space-gray;
      background-color: $space-white;
      font-size: $font-med;
      font-weight: $font-weight-maven-pro-medium;
      text-align: center;
    }
  }

  .info {
    width: 100%;
    padding: 0.5rem;
    @include make-horizontal-expand;
    background-color: $space-gray;

    .points {
      margin-right: 0.5rem;
      @include make-column-and-center;

      p {
        margin-bottom: 0;
        color: $space-white;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-regular;
      }
    }

    .flavor-text {
      width: 50%;

      p {
        margin: 0.5rem 0;
        color: $space-white;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-regular;
      }
    }

    .cost {
      max-width: 20%;
      @include make-center;
      flex-wrap: wrap;

      .container {
        @include make-center;
        height: 2rem;
        width: 2rem;
        padding: 0.25rem;
        border-radius: 50%;
        margin: 0.125rem;
        background-color: $space-white;

        img {
          @include expand;
        }
      }

      .unattainable-resource {
        background-color: $space-white-opaque-2 !important;
      }
    }
  }

  .purchase {
    width: 100%;
    padding: 0.5rem;
    @include make-center;
    background-color: $space-gray;

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      border: 0.0625rem solid $new-space-orange;
      margin: 0.5rem;
      color: $new-space-orange;
      @include default-transition-base;
      font-size: $font-small;

      &:hover {
        color: $space-gray;
        background-color: $new-space-orange;
      }

      &:disabled {
        opacity: 0.5;
      }

      &:disabled:hover {
        color: $new-space-orange;
        background-color: transparent;
      }
    }
  }
}

.default {
  background-color: $space-white;
  border: 0.125rem solid $space-white;
  opacity: 1;
}

.purchasable {
  background-color: $new-space-orange;
  border: 0.125rem solid $new-space-orange;
  opacity: 1;
}

.unpurchasable {
  background-color: $space-white;
  border: 0.125rem solid $space-white;
  opacity: 0.5;
}
