.card-event-component {
  height: 12rem;
  width: 14.5rem;
  margin: 0 0.25rem;
  flex: 0 0 auto;
  @include make-column-and-center;
  cursor: pointer;
  @include default-transition-base;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    // transform: scale(1.1);
  }

  .name {
    width: 100%;
    // margin-bottom: 0.5rem;
    color: $space-gray;
    background-color: $new-space-orange;

    p {
      width: 100%;
      padding: 0.25rem 0.5rem;
      margin-bottom: 0;
      text-transform: uppercase;
      text-align: center;
      @include text-overflow-ellipses;
    }
  }

  .effect {
    flex-grow: 1;
    width: 100%;
    padding: 0.5rem;
    background-color: $space-gray;
    overflow-y: scroll;
    @include disable-scroll;

    p {
      width: 100%;
      margin-bottom: 0;
      text-align: center;
      font-size: $font-small;
      color: $space-white;
    }
  }

  .length {
    width: 100%;
    // border-top: 0.0625rem solid $new-space-orange-opaque-025;
    color: $space-white;
    background-color: $space-gray;

    p {
      width: 100%;
      margin: 0.5rem 0;
      font-size: $font-small;
      text-align: center;
      text-transform: capitalize;
      @include text-overflow-ellipses;
    }
  }
}
