h1 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: $light-accent;
}
.registration {
  width: 50vw !important;
  height: 100vh !important;
}

.form-text {
  max-height: 70vh;
  overflow-y: scroll;
}
