// WRAPPERS, CONTAINERS
.c-dashboard {
  height: 100vh !important;
  width: 100vw !important;
  @include make-center;
}

.title-wrapper,
.content-wrapper {
  width: 100%;
}

.content-wrapper {
  height: 70vh;
  overflow-y: hidden;
  justify-content: space-around;
}

.message-wrapper {
  @include make-center;
}

// WRAPPER :: DASHBOARD ITEM GROUPS (STATS, ACTIONS, GAMES)

.outer-wrapper {
  max-height: 50vh;
  width: 100%;
  padding: 0.5rem;
  background-color: $space-white-opaque-1;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
}

// TITLE

.title {
  height: 100%;
  padding: 0;
  @include make-column-and-center;

  h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 2rem;
    font-weight: 700;
    color: $new-space-orange;
  }
}

// DASHBOARD ITEMS :: STATS, ACTION ITEMS, UPCOMING GAMES

.stats,
.action-items,
.upcoming-games {
  padding: 1rem;
}

.games-played, .next-game {
  height: auto;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  @include make-horizontal-between;
}

.games-played {
  background-color: $new-space-orange-005;
}

.next-game {
  //border-style: solid;
  //border-width: 0.1rem;
  background-color: $new-space-orange-005;
  border-color: $new-space-orange;
}

// HTML TEXT ELEMENTS

a {
  color: transparent;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 4.5rem;
  font-weight: 700;
  color: $new-space-orange;
}

h2 {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: $space-white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

p {
  width: 100%;
  margin-bottom: 0;
  color: $space-white;
  font-size: $font-large;
  font-weight: $font-weight-maven-pro-bold;
  text-align: left;
}

// IMAGES

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.0625;
}

