.game-dashboard,
.game-dashboard-defeat,
.game-dashboard-victory {
  height: 100vh !important;
  width: 100vw !important;
  // max-width: none !important;
  // @include reset-padding-margin;
  @include make-center;
  background-color: $space-gray;
}
