// .game-dashboard-container {
//   position: absolute;
// }

.game-dashboard,
.game-dashboard-defeat,
.game-dashboard-victory {
  position: absolute;
  height: 100vh!important;
  width: 100vw !important;
  margin: 0;
  // max-width: none !important;
  // @include reset-padding-margin;
  @include make-center;
  overflow: hidden;
  // background-color: $space-gray;
  // background-color: green;
}

  // .gameboard-popups {
  //   position: relative;
  //   bottom: 0;
  //   height: 55.5rem;
  // }
