.login {
  height: 100vh !important;
  width: 100vw !important;
  @include make-center;
  background-color: $space-gray;

  .wrapper {
    height: 100%;
    /* SET MAX SIZE OF SCREEN */
    max-height: $max-screen-height;
    max-width: $max-screen-width;
    /* SET MIN SIZE OF SCREEN */
    min-height: $min-screen-height;
    min-width: $min-screen-width;
    padding: 1rem;
    @include make-column-and-center;
    justify-content: space-around;

    .text {
      @include make-column-and-center;

      h1 {
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 6rem;
        font-weight: 700;
        color: $new-space-orange;
      }

      h2 {
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 2rem;
        font-weight: 700;
        color: $new-space-orange;
      }
    }

    form {
      @include make-column-and-center;

      .input-username,
      .input-password {
        margin: 1em 0;
        padding: 0.5em;
        @include make-column-and-center;

        label {
          width: 100%;
          padding: 0.5rem;
          @include border-bottom-white;
          margin-bottom: 0;
          text-align: left;
          color: $space-white-opaque-2;
          font-size: 20px;
        }

        .input-wrapper {
          height: 5em;
          width: 25em;
          padding: 0.5em;
          border: 0.0625em solid $new-space-orange-opaque-025;
          margin-top: 0.5em;
          @include make-center;

          input {
            @include expand;
            padding: 0.5rem;
            border: none;
            background-color: transparent !important;
            color: $space-white !important;

            &:focus,
            &:active {
              outline: none;
            }

            &::placeholder {
              color: $space-white-opaque-2;
            }
          }
        }
      }
    }
  }
}

.submit {
  margin: 1rem 0;
  @include make-center;

  input {
    height: 3rem;
    width: 12.5rem;
    border: 0.0625rem solid $new-space-orange;
    margin: 0.5rem;
    background-color: transparent;
    color: $new-space-orange;
    @include default-transition-base;

    &:disabled,
    &:disabled:hover {
      border: 0.0625rem solid $new-space-orange-opaque-025;
      background: transparent;
      color: $new-space-orange-opaque-025;
    }

    &:hover {
      color: $space-gray;
      background-color: $new-space-orange;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.error {
  @include make-center;
  color: #f00;
  font-size: 2rem;
}