.tutorial-quiz {
  height: 100vh !important;
  width: 100vw !important;
  max-width: none !important;
  @include reset-padding-margin;
  @include make-center;
  background-color: $space-gray;

  .wrapper {
    @include expand;
    /* SET MAX SIZE OF SCREEN */
    max-height: $max-screen-height;
    max-width: $max-screen-width;
    /* SET MIN SIZE OF SCREEN */
    min-height: $min-screen-height;
    min-width: $min-screen-width;
    padding: 1rem;
    @include make-column-and-center;
    justify-content: space-between;

    .title {
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem;
      @include make-center;

      h1 {
        width: 100%;
        margin-bottom: 0;
        font-size: 6rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.25rem;
        color: $space-orange;
      }
    }

    .quiz-container {
      // TODO: Does this need to scroll?
      flex-grow: 1;
      width: 80%;
      padding: 0.5rem;
      margin: 0.5rem;
      @include make-center;
      flex-flow: wrap;
    }

    .button-container {
      padding: 0.5rem;
      margin: 0.5rem;
      @include make-center;

      .frame {
        width: 5rem;
        height: 5rem;
        padding: 0.5rem;
        border: 0.0625rem solid $space-orange-opaque-2;
        border-radius: 50%;
        margin: 0.5rem;

        button {
          @include reset-button;
          @include expand;
          @include reset-padding-margin;
          border-radius: 50%;
          color: $space-white;
          background-color: transparent;
          @include default-transition-base;

          &:hover {
            background-color: $space-orange-opaque-2;
          }
        }
      }
    }

    .submission {
      flex-grow: 1;
      padding: 0.5rem;
      margin: 0.5rem;
      @include make-column-and-center;

      h2 {
        margin: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 2rem;
        font-weight: 700;
        color: $space-orange;
      }

      p {
        margin: 0.5rem;
        font-size: $font-med;
        color: $space-orange;
      }

      button {
        @include reset-button;
        height: 3rem;
        width: 12.5rem;
        border: 0.0625rem solid $space-orange;
        margin: 2rem 0.5rem 0.5rem 0.5rem;
        color: $space-orange;
        overflow: hidden;
        @include default-transition-base;

        &:hover {
          color: $space-gray;
          background-color: $space-orange;
        }
      }
    }
  }
}
