.quiz-page {
  color: white;
  height: 6rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 11rem;
  font-weight: 700;
  color: $space-orange;
}

.quiz-container {
  position: relative;
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.quiz-title {
  color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.quiz-form {
  width: 40%;
  margin: auto;
  text-align: left;
}
