.c-waiting-lobby {
  height: 100vh !important;
  width: 100vw !important;
  max-width: none;
  @include reset-padding-margin;
  @include make-center;

  .wrapper {
    @include gameboard-constraints;
    padding: 1rem;
    margin: 0;
    @include make-column-and-space-around;
    background-color: $dark-shade;

    .content {
      @include reset-padding-margin;
      @include make-column-and-center;

      p {
        color: $light-shade;
      }

      p,
      a,
      button {
        margin: 0.5rem 0;
      }
    }
  }
}
