.modal-server {
  height: 25rem;
  width: 35rem;
  padding: 1rem 2rem;
  border: 0.125rem solid $space-white-opaque-2;
  @include make-column-and-center;
  justify-content: space-around;
  color: $space-white;
  background-color: $space-gray;
  overflow: hidden;

  .title,
  .message {
    margin: 0 1rem;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    text-transform: capitalize;
    color: $space-white;

    span {
      color: $status-red;
    }
  }
}
