.modal-wrapper{
    position: absolute;
    @include expand;
    z-index: 4;
    background-color: rgba($color: #000000, $alpha: 0.6);

    .player-info-modal-wrapper,
    .trade-request-modal-wrapper{
        position: relative;
    }
}