.modal-confirmation {
  height: 25rem;
  width: 35rem;
  padding: 1rem 2rem;
  border: 0.125rem solid $space-white-opaque-2;
  @include make-column-and-center;
  justify-content: space-around;
  color: $space-white;
  background-color: $space-gray;
  overflow: hidden;

  .content {
    .header,
    .details {
      text-align: center;
    }

    .header {
      font-size: 2rem;
      color: $space-orange;
    }

    .details {
      margin: 0;
    }

    .cost {
      @include make-center;
      flex-wrap: wrap;
      p {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.125rem;
        padding: 0;
      }
    }
  }

  .confirm {
    @include reset-button;
    height: 3rem;
    width: 12.5rem;
    border: 0.0625rem solid $space-orange;
    margin: 0.5rem;
    color: $space-orange;
    @include default-transition-base;

    &:hover {
      color: $space-gray;
      background-color: $space-orange;
    }
  }
}
