.tutorial-layout {
  height: 100% !important;
  width: 100% !important;
}
/* custom tour css: highlight an element */
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
body .in-tour {
  pointer-events: none;
}
.v-step {
  z-index: 9999;
}
.tour-active {
  position: relative;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5); /* outer black */
  /* animation: shadow-pulse 2s infinite; */
}
.tour-active,
.v-tour {
  pointer-events: auto;
}

.v-step {
  border: 0.125rem solid $new-space-orange-opaque-025;
  border-radius: 0 !important;
  background-color: $space-gray !important;

  .v-step__arrow {
    // border-left-color: $new-space-orange-opaque-025 !important;
    display: none !important;
  }

  .status-correct {
    margin: 0.5rem 0;
    color: $status-green;
    font-size: $font-med;
  }

  .status-wrong{
    margin: 0.5rem 0;
    color: $status-red;
    font-size: $font-large;
  }

  button {
    @include reset-button;
    padding: 0.5rem !important;
    border: 0.0625rem solid $new-space-orange !important;
    border-radius: 0 !important;
    margin: 0.5rem;
    color: $new-space-orange;
    @include default-transition-base;
  }

  .button-inactive{
    opacity: 25%;
  }

  .button-active{
    opacity: 100%;
    &:hover {
      @include default-scale-up;
      color: $space-gray;
      background-color: $new-space-orange;
      outline: none !important;
    }
  }

  .option {
    @include row;
    text-align: left;
    margin: 0.5rem 0;
  
    input {
      display: none;
    }

    label {
      padding-left: 0.5rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: $font-med;

      padding: 0.1rem 0.5rem;
      cursor: pointer;
    }

    label span {
      position: relative;
    }

    label span:before,
    label span:after {
        content: '';
    }

    label span:before {
      border: 1px solid $new-space-orange;
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
      display: inline-block;
      vertical-align: top;
      border-radius: 5px;
    }
    
    label span:after {
      background: $new-space-orange;
      width: 0.9rem;
      height: 0.9rem;
      position: absolute;
      top: 0.3rem;
      left: 0.3rem;
      opacity: 0;
      border-radius: 2px;
      
    }

    label input:checked+span:after {
      opacity: 1;
    }

  }
}
