.cm-event {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cm-event p {
  margin: 0;
}

.cm-event-title {
  margin: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cm-event-title p {
  text-align: center;
  font-size: 2rem;
  color: $space-orange;
}

.cm-event-info {
  margin: 2rem 0;
  text-align: center;
}

.cm-event-effects {
  text-align: center;
}

.cm-event-effects p {
  margin: 1rem 0 0 0;
}

.cm-event-effects-title {
  margin: 1rem 0 0 0 !important;
  font-size: $font-small;
}

.cm-event-effects-title span {
  color: $space-orange;
}
