.card-accomplishment {
  height: auto;
  min-height: 7rem;
  width: 100%;
  margin-bottom: 0.5rem;
  @include make-column-and-center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.1);
  }

  .title {
    height: 30%;
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin: 0 0 0.5rem 0;
    @include make-center;
    background-color: $space-white;

    p {
      margin: 0;
      text-align: center;
      text-transform: capitalize;
      color: $space-gray;
    }
  }

  .info {
    height: 70%;
    width: 100%;
    padding: 0.5rem;
    @include make-horizontal-expand;
    background-color: $space-gray;

    .points {
      margin-right: 0.5rem;
      @include make-column-and-center;

      p {
        margin: 0;
        color: $space-white;
      }
    }

    .cost {
      @include make-center;
      flex-wrap: wrap;

      p {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.125rem;
        padding: 0;
      }
    }
  }
}
