// TODO: Refactor styling

.event-select-purchased-accomplishment-container {
  @include expand;

  .actions {
    height: 100%;
    flex: 1;
    padding: 0.5rem;
    @include make-column-and-center;
    justify-content: space-around;

    p {
      color: $light-shade;
      margin: 0.5rem 0.5rem 4rem 0.5rem;
    }

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      padding: 0 0.5rem;
      border: 0.125rem solid $light-accent;
      margin: 0.5rem;
      color: $light-accent;
      @include default-transition-base;
      @include text-overflow-ellipses;

      &:disabled,
      &:disabled:hover {
        border: 0.125rem solid $light-accent-25;
        background: transparent;
        color: $light-accent-25;
      }

      &:hover {
        // color: $space-gray;
        // background-color: $new-space-orange;
      }
    }
  }

  .continue {
    height: 100%;
    flex: 1;
    padding: 0.5rem;
    @include make-column-and-center;

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      padding: 0 0.5rem;
      border: 0.125rem solid $light-accent;
      margin: 0.5rem;
      color: $light-accent;
      @include default-transition-base;
      @include text-overflow-ellipses;

      &:hover {
        // color: $space-gray;
        // background-color: $new-space-orange;
      }
    }
  }
}

.button {
  @include space-button;
}
