.vote-yes-no {
  @include expand;
  @include make-column-and-center;
  color: $space-white;

  p {
    margin-bottom: 2rem;
  }

  .selected-button-text {
    margin-top: 2rem;
  }

  .buttons {
    display: flex;

    button {
      @include reset-button;
      height: 3rem;
      width: 12rem;
      border: 0.125rem solid $new-space-orange;
      margin: 0 0.5rem;
      color: $new-space-orange;
      @include default-transition-base;

      &:hover {
        color: $space-gray;
        background-color: $new-space-orange;
      }

      &:focus {
        color: $space-gray;
        background-color: $new-space-orange;
      }
    }
  }
}
