.event-vote-for-player-hero-pariah {
  @include expand;
  @include make-column-and-center;
}

.selected-background {
  background-color: $light-accent;
}

.title {
  border-bottom: 0.125rem solid $light-accent;
  color: $light-shade;
  font-size: $font-large;
}

.voted {
  font-size: $font-med;
  text-align: center;
}

.player-frame-container {
  @include make-center;

  .player-frame {
    height: 5rem;
    width: 5rem;
    padding: 0.25rem;
    border: 0.125rem solid $light-accent;
    border-radius: 50%;
    margin: 0 1rem;
    @include make-center;
    @include default-transition-base;

    &:hover {
      @include default-scale-up;
      cursor: pointer;
    }

    img {
      height: 100%;
    }
  }
}
