@import './utilities/_mixins.scss';
@import './utilities/_variables.scss';

// TODO :: Download Fonts Locally
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700&display=swap');

html {
  @include xl {
    font-size: 12px !important;
  }

  @include lg {
    font-size: 8px !important;
  }

  @include md {
    font-size: 6px !important;
  }
  @include sm {
    font-size: 4px !important;
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: $font-family-default !important;
  font-weight: $font-weight-maven-pro-regular !important;
  color: $space-gray;
  background-color: $space-gray-0975;

  // NOTE :: CSS VARIABLES

  --space-gray: #1e2223;
  --space-orange: #c67b5c;
  --new-space-orange: rgba(221, 168, 119, 1);
  --space-white-opaque-1: rgba(245, 245, 245, 0.05);
  --space-white-opaque-2: rgba(245, 245, 245, 0.25);
  --space-orange-opaque-2: rgba(198, 123, 92, 0.25);
  --color-Researcher: rgba(67, 124, 174, 0.2);
  --color-Pioneer: rgba(111, 36, 134, 0.2);
  --color-Curator: rgba(103, 65, 29, 0.2);
  --color-Entrepreneur: rgba(199, 168, 40, 0.2);
  --color-Politician: rgba(170, 42, 41, 0.2);
  --color-Upkeep: rgba(45, 143, 68, 0.2);
  --color-Upkeep-opaque-2: rgba(45, 143, 68, 0.25);
  --status-green: rgba(45, 143, 68, 1);
  --status-red: rgba(170, 42, 41, 1);
  --marslog-red: rgba(170, 42, 41, 0.05);
  --marslog-purple: rgba(111, 36, 134, 0.05);
  --marslog-orange: rgba(170, 111, 0, 0.05);
  --marslog-green: rgba(9, 92, 41, 0.5);
}

p,
h1,
img,
button {
  user-select: none !important;
}

.game {
  @include expand;
}
