.trade {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.5rem;
  display: flex;
  background-color: $space-gray;
  color: $space-white;

  &:last-child {
    margin-bottom: 0;
  }

  .trade-send-receive {
    height: 100%;
    flex: 1;
    @include make-horizontal-expand;

    .sending {
      height: 100%;
      @include make-center;
      flex: 1;

      .trade-profile-sender-container {
        height: 100%;
        margin: 0 0.25rem;
        @include make-center;
        overflow-x: hidden;

        .trade-profile-sender {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          @include make-center;
          background-color: $space-white;

          img {
            height: 100%;
          }
        }
      }

      .send {
        height: 100%;
        flex: 1;
        @include make-column-and-center;

        .send-sender {
          height: 50%;
          width: 100%;
          padding: 0rem 0.5rem;
          @include make-center;

          p {
            width: 100%;
            margin: 0;
            font-size: $font-small;
            text-align: center;
            color: $space-gray;
            background-color: $new-space-orange;
          }
        }

        .send-investments-container {
          height: 50%;
          padding: 0.25rem 0.5rem;
          @include make-center;

          .send-investments {
            height: 100%;
            @include make-center;
            min-width: 2.5rem;

            img {
              height: 1.5rem;
              width: 1.5rem;
            }

            p {
              margin: 0 0.5rem;
              font-size: $font-small;
            }
          }
        }
      }
    }

    .trade-icon {
      margin: 0.5rem;
      @include make-center;
    }

    .receiving {
      height: 100%;
      flex: 1;
      @include make-center;

      .trade-profile-receiver-container {
        height: 100%;
        margin: 0 0.25rem;
        @include make-center;

        .trade-profile-receiver {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          @include make-center;
          background-color: $space-white;

          img {
            height: 100%;
          }
        }
      }

      .receive {
        height: 100%;
        flex: 1;
        @include make-column-and-center;

        .receive-receiver {
          height: 50%;
          width: 100%;
          padding: 0rem 0.5rem;
          @include make-center;

          p {
            width: 100%;
            margin: 0;
            font-size: $font-small;
            text-align: center;
            color: $space-gray;
            background-color: $new-space-orange;
          }
        }

        .receive-investments-container {
          height: 50%;
          padding: 0.25rem 0.5rem;
          @include make-center;

          .receive-investments {
            height: 100%;
            @include make-center;
            min-width: 2.5rem;

            img {
              height: 1.5rem;
              width: 1.5rem;
            }

            p {
              margin: 0 0.5rem;
              font-size: $font-small;
            }
          }
        }
      }
    }
  }

  .trade-buttons {
    height: 100%;
    min-width: 4rem;

    button {
      height: 50%;
      width: 100%;
      border: none;
      font-size: $font-small;
      background-color: $new-space-orange;
      transition: all 0.15s ease-in-out;

      &:hover {
        transform: scaleX(1.1);
        overflow: hidden;
      }
    }

    .accept-trade {
      opacity: 0.75;
    }

    .cancel-trade {
      height: 100%;
    }
  }
}
