.c-trade {
  @include default-transition-base;
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0 0 0.5rem 0;
  background-color: $dark-shade;
  @include make-column-and-top;
  flex-shrink: 0;
  border: 0.125rem solid;

  &:last-child {
    margin: 0;
  }
}

.title-wrapper {
  @include default-transition-base;

  width: 100%;
  max-width: none;
  padding: 0.5rem;
  margin: 0;
  @include make-center;
  background-color: $light-shade;
}

.title {
  @include default-transition-base;

  margin-bottom: 0;
  font-size: $font-med;
  font-weight: $medium;
  //color: $space-gray;
  text-align: center;
}

.trade-wrapper {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
}
.to-container,
.icon-container,
.from-container {
  height: 100%;
  padding: 0.5rem;
  margin: 0;
}

.icon-container {
  @include make-center;
}

.icon {
  color: $light-shade;
}

.to-container,
.from-container {
  .inner-wrapper {
    @include expand;
    max-width: none;
    @include reset-padding-margin;

    .player {
      height: 100%;
      padding: 0;
      @include make-center;

      .outer-frame {
        height: 4rem;
        width: 4rem;
        padding: 0.125rem;
        border-radius: 50%;

        .inner-frame {
          @include expand;
          @include make-center;
          border-radius: 50%;

          img {
            object-fit: cover;
            height: 80%;
          }
        }
      }

      .text {
        height: 100%;
        flex: 1;
        padding: 0 0 0 0.5rem;
        @include make-column-and-left;

        p {
          margin-bottom: 0;
        }

        .title {
          margin: -0.5rem 0;
          color: $light-accent;
          font-size: $font-large;
          font-weight: $bold;
        }

        .player-text {
          margin-bottom: 0;
          color: $light-shade;
          font-size: $font-med;
          font-weight: $bold;
        }
      }
    }

    .investments {
      height: 100%;
      padding: 0;
      @include make-center;

      .wrapper {
        height: 2rem;
        width: calc(100% / 5);
        @include make-center;

        img {
          object-fit: cover;
          height: 2rem;
          width: 2rem;
        }

        p {
          margin-bottom: 0;
          margin: 0 0 0 0.5rem;
          color: $light-shade;
          font-size: $font-large;
          font-weight: $bold;
        }
      }
    }
  }
}


.button-wrapper {
  width: 100%;
  max-width: none;
  padding: 0.5rem;
  margin: 0;
  @include make-center;
}

.decline,
.accept,
.cancel {
  @include reset-button;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 50%;
  margin: 0 0.5rem;
  @include default-transition-base;

  &:hover:not(:disabled) {
    @include default-scale-up;
  }

  &:disabled {
    opacity: 0.2;
  }

  .icon {
    height: 50%;
    width: 50%;
  }
}

.decline,
.cancel {
  background-color: $status-red;
  color: $light-shade;
}

.accept {
  background-color: $status-green;
  color: $light-shade;
}

.status-text {
  font-size: $font-large;
  font-weight: bold;
}

.hide-trade {
  animation: hide 0.3s linear 1.5s 1 forwards;
}

@keyframes hide {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    height: 0;
  }
}
