.c-trade-request {
  @include expand;
  @include reset-padding-margin;
  //@include make-column-and-space-around;

  .player-selection-wrapper,
  .request-wrapper,
  .offer-wrapper,
  .buttons-wrapper {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }

  .player-selection-wrapper {
    .player {
      height: 100%;
      @include reset-padding-margin;
      @include make-column-and-center;

      .outer-frame {
        @include reset-button;
        height: 5rem;
        width: 5rem;
        padding: 0.125rem;
        margin: 0 0 0.5rem 0;
        border-radius: 50%;

        .inner-frame {
          @include expand;
          border-radius: 50%;
          @include make-center;

          img {
            object-fit: cover;
            height: 80%;
          }
        }
      }

      p {
        margin-bottom: 0;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-medium;
        color: $space-white;
        text-align: center;
      }
    }
  }

  .request-wrapper {
    .request {
      height: 100%;
      @include reset-padding-margin;
      @include make-center;
    }
  }

  .offer-wrapper {
    .offer {
      height: 100%;
      @include reset-padding-margin;
      @include make-center;
    }
  }

  .buttons-wrapper {
    .buttons {
      height: 100%;
      @include reset-padding-margin;
      @include make-center;

      button {
        height: 100%;
        width: 12rem;
        @include reset-button;
        @include default-transition-base;
        padding: 0.5rem 1rem;
        border: solid 0.125rem $new-space-orange;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-bold !important;
        text-align: center;
        color: $new-space-orange;

        &:hover {
          color: $space-gray;
          background-color: $new-space-orange;
        }

        &:disabled:hover {
          color: $new-space-orange;
          background-color: transparent;
        }

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}
