.c-trade-options {
  @include expand;
  @include reset-padding-margin;
  @include make-column-and-top;

  .title-wrapper,
  .investment-wrapper {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
  }

  .title-wrapper {
    .title {
      height: 100%;
      @include reset-padding-margin;
      @include make-column-and-center;

      p {
        margin-bottom: 0;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-medium;
        color: $new-space-orange;
        text-align: center;
      }
    }
  }

  .investment-wrapper {
    .investment {
      padding: 0;
      margin: 0 0.25rem;
      @include make-column-and-top;

      .investment-input-wrapper {
        @include expand;
        margin-bottom: 1rem;
        @include make-center;

        img {
          height: 4rem;
          width: 4rem;
          max-height: 7vh;
        }

        .input {
          height: 100%;
          flex-grow: 1;
          padding: 0 0 0 0.5rem;

          /* Firefox */
          input[type='number'] {
            @include expand;
            padding: 0.25rem;
            border: none;
            text-align: center;
            background-color: $space-white-opaque-1;
            -moz-appearance: textfield;

            font-size: $font-large;
            font-weight: $font-weight-maven-pro-bold;
            color: $space-white;

            &:focus,
            &:active {
              outline: none;
            }

            /*Chrome, Safari, Opera*/
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      .buttons-wrapper {
        height: 2rem;
        width: 100%;
        @include make-center;

        button {
          @include reset-button;
          height: 2rem;
          width: 2rem;
          padding: 0;
          border-radius: 50%;
          margin: 0 0.5rem;
          @include make-center;
          background-color: $space-white;
          color: $space-gray;
          @include default-transition-base;

          &:hover:not(:disabled) {
            @include default-scale-up;
          }

          &:disabled {
            opacity: 0.5;
          }

          .icon {
            height: 50%;
            width: 50%;
          }
        }
      }
    }

    .unvailable-investment {
      opacity: 0.5;
    }
  }
}
