.event-no-change {
  @include expand;
  @include make-column-and-center;
  justify-content: space-around;

  .wrapper {
    margin: 0.5rem 0.5rem 4rem 0.5rem;
    @include make-column-and-center;

    .note {
      font-size: $font-med;
      color: $light-accent;
    }

    .event-text {
      margin-bottom: 0;
      color: $light-shade;
      font-size: $font-med;
    }
  }

  button {
    @include reset-button;
    height: 3rem;
    width: 12.5rem;
    border: 0.125rem solid $light-accent;
    margin: 0.5rem;
    color: $light-accent;
    @include default-transition-base;

    &:hover {
      color: $dark-shade;
      background-color: $light-accent;
    }
  }
}
