.container-defeat{
    color:white;
    
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $space-gray;

    .gameOver-text{
        color: $new-space-orange;
    }


    .message-container{
        display: flex;
        flex-direction: column;
        height: 20rem;
        overflow-y: scroll;

        .message{
            margin-bottom: 1rem;
            padding:0.4rem;
            
            .header{
                display: flex;
                justify-content: space-between;
                
                .event-number{
                    color: $new-space-orange;
                    .final-log{
                        color: white;
                        font-style: italic;
                        font-weight: bold;
                    }

                    .list{
                        color: white;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }


    

    @keyframes example {
        from {opacity: 0;}
        to {opacity: 100;}
    }

    

    .death-text{
        margin-top:1rem;
        

        .death{
            color: $status-red;
            margin-left: 0.1rem;
        }
    }


    .thanks{
        margin-top: 2rem;
        text-align: center;

        .buttons {
            @include make-center;
        
            button {
                @include reset-button;
                height: 3rem;
                width: 12.5rem;
                border: 0.0625rem solid $new-space-orange;
                margin: 0.5rem;
                color: $new-space-orange;
                @include default-transition-base;
        
                &:hover {
                color: $space-gray;
                background-color: $new-space-orange;
                }
            }
        }
    }
}
