.container-victory {
  @include expand;
  /* SET MAX SIZE OF SCREEN */
  max-height: $max-screen-height;
  max-width: $max-screen-width;
  /* SET MIN SIZE OF SCREEN */
  min-height: $min-screen-height;
  min-width: $min-screen-width;
  padding: 1rem;
  @include make-column-and-center;
  justify-content: space-around;
  background-color: $space-gray;

  h1 {
    color: $new-space-orange;
  }

  .text {
    @include make-column-and-center;

    p {
      margin: 0.5rem;
      font-size: $font-large;
      text-align: center;
      color: $space-white;
    }
  }

  .winners {
    color: $space-white;
    // background-color: pink;
    @include make-column-and-center;

    .title {
      font-size: $font-large;
      margin: 0.5rem;
    }

    .winner {
      margin: 0.5rem;

      p {
        font-size: $font-med;
        margin: 0;
      }
    }
  }

  .buttons {
    @include make-center;

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      border: 0.125rem solid $new-space-orange;
      margin: 0.5rem;
      color: $new-space-orange;
      @include default-transition-base;

      &:hover {
        color: $space-gray;
        background-color: $new-space-orange;
      }
    }
  }
}
