.defeat {
  position: relative;
  z-index: 0;
  @include gameboard-constraints;
  padding: 1rem;
  margin: 0;
  @include make-column-and-center;
  background-color: $dark-shade;

  .title-wrapper,
  .content-wrapper,
  .marslog-wrapper,
  .footnote-wrapper {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .title-wrapper {
    .title {
      padding: 0;
      @include make-column-and-center;

      h1 {
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 6rem;
        font-weight: 700;
        color: $light-accent;
      }

      h2 {
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 2rem;
        font-weight: 700;
        color: $light-accent;
      }
    }
  }

  .content-wrapper {
    .content {
      padding: 0;
      @include make-column-and-center;

      h2 {
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $light-shade;
      }
    }
  }

  .marslog-wrapper {
    height: 40%;
    @include make-center;

    .marslog {
      height: 100%;
      padding: 0.5rem;
      background-color: $light-shade-05;
      overflow-y: hidden;

      .wrapper {
        @include expand;
        @include make-column-and-top;
        overflow-y: auto;

        .message {
          background-color: var(--marslog-orange);
          width: 100%;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          font-size: $font-med;
          color: $light-shade;

          &:last-child {
            margin-bottom: 0;
          }

          .category {
            margin: 0;
            text-transform: capitalize;
            color: $light-accent;
            font-weight: $bold;
          }

          .final-log,
          .list {
            text-transform: uppercase;
            font-weight: $medium;
          }

          .content,
          .time {
            font-weight: $regular;
          }

          .final-log,
          .list {
            margin: 0;
            word-wrap: break-word;
          }

          .content {
            margin: 0.5rem 0;
            word-wrap: break-word;
          }

          .time {
            margin: 0;

            span {
              color: $light-accent;
            }
          }
        }
      }
      .round {
        @include make-center;
        display: flex;
        padding: 1rem;
        margin: 1rem -0.5rem -0.5rem;

        border-style: solid;
        border-top-width: 0.75rem;
        border-color: #2D2524;
        background-color: black;

        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: large;
      }
    }
  }

  .footnote-wrapper {
    .footnote {
      padding: 0;
      @include make-column-and-center;

      h2 {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 2rem;
        font-weight: 700;
        color: $light-accent;
      }

      .buttons {
        @include make-center;

        .exit {
          @include space-button-white;
          border: 0.125rem solid $light-shade;
          margin-left: 1rem;
        }

        button {
          width: 12rem;
          font-weight: $bold !important;
        }
      }
    }
  }
}
