.c-gameboard-container {
  @include gameboard-constraints;
  padding: 1rem;
  margin: 0;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  @include make-column-and-top;
  background-color: $space-gray;

  .system-health {
    width: 100%;
    margin: 0 0 0.5rem 0;
  }

  .gameboard {
    flex: 1;
    width: 100%;
    padding: 0 0 2.5rem 0;
    margin: 0;
    overflow: hidden;

    .left {
      height: 100%;
      padding: 0 0.5rem 0 0;
      @include make-column-and-top;

      .hud {
        height: 40%;
        width: 100%;
        @include reset-padding-margin;
      }

      .phase-switcher {
        height: 60%;
        width: 100%;
        padding: 0.5rem 0 0 0;
        margin: 0;
      }
    }

    .right {
      height: 100%;
      padding: 0;
      border: 0.125rem solid $space-lightgray-025;
    }
  }
}
