.title {
  padding: 0;
  position: relative;

  p {
    width: 100%;
    margin-bottom: 0;
    font-size: $font-med;
    font-weight: $medium;
    color: $dark-shade;
    text-align: center;
    @include text-overflow-ellipses;
  }
}

.icontwo {
  position: absolute;
  top: 0;
  right: 2.5rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: $status-green;
}

.icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: $dark-shade;
  @include default-transition-base;

  &:hover {
    @include default-scale-up;
  }
}

.flavortext-wrapper {
  flex: 1;
  background-color: $dark-shade;
}

//.flavortext {
//  padding: 0;
//
//  p {
//    width: 100%;
//    margin-bottom: 0;
//    font-size: $font-med;
//    font-weight: $regular;
//    color: $light-shade;
//    text-align: center;
//  }
//}

.duration-wrapper {
  //flex: 1;
  background-color: $dark-shade;
}

.duration {
  padding: 0;

  p {
    width: 100%;
    margin-bottom: 0;
    font-size: $font-med;
    font-weight: $regular;
    color: $light-shade;
    text-align: center;
  }
}

p {
  font-size: $font-med;
  font-weight: $regular;
  color: $light-shade;
}

button {
  color: $light-accent;
  border: 0.125rem solid $light-accent;
  &:hover {
    color: $dark-shade;
    background-color: $light-accent;
  }

  &:disabled:hover {
    color: $light-accent;
    background-color: transparent;
  }
}

.modal-view {
  border: none;
  max-height: 20rem !important;
}

.interact {
  padding: 0;
  @include make-center;

  .button {
    @include space-button;
  }
}


