.marslog {
  @include expand;
  @include make-column-and-center;

  .title {
    width: 100%;
    padding: 0.5rem;
    @include border-bottom-white;
    margin-bottom: 0.5rem;
    font-size: $font-med;
    text-align: left;
    color: $new-space-orange;
  }

  .log {
    @include expand;
    overflow-y: scroll;
    @include disable-scroll;

    .empty {
      margin-bottom: 0;
      font-size: $font-small;
      text-align: center;
      color: $space-white-opaque-2;
    }

    .message {
      height: auto;
      max-width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: $font-med;
      color: $space-white;
      overflow: auto;

      &:last-child {
        margin-bottom: 0;
      }

      .category {
        margin: 0;
        text-transform: capitalize;
        color: $space-orange;
      }

      .content {
        margin: 0.5rem 0;
        word-wrap: break-word;
      }

      .time {
        margin: 0;

        span {
          color: $space-orange;
        }
      }
    }
  }
}
