.profile-investments {
  width: 100%;
  padding: 0.5rem;

  .title {
    width: 100%;
    padding: 0.5rem;
    @include border-bottom-white;
    margin-bottom: 0.5rem;
    font-size: $font-med;
    text-align: left;
    color: $space-white-opaque-2;
  }

  .pi-container {
    display: flex;
    flex-flow: wrap;

    .profile-investment {
      width: calc(100% / 3);
      padding: 0.5rem 0.125rem;
      @include make-horizontal-expand;

      img {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.25rem;
      }

      p {
        margin: 0 0.25rem;
        font-size: $font-med;
        color: $space-white;

        sup {
          font-size: $font-small;
        }
      }
    }
  }
}
