.login-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-button-container button {
  height: 3.5rem;
  width: 18rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
  border: 0.125rem solid $space-white-opaque-2;
  outline: none !important;
  color: $space-white;
  background-color: rgba(245, 245, 245, 0.2);
}
