.switch.square label .lever {
  width: 54px;
  height: 34px;
  border-radius: 0px;
}
.switch.square label .lever:after {
  width: 26px;
  height: 26px;
  border-radius: 0px;
  left: 4px;
  top: 4px;
}