/* SELECT_INFLUENCES */

.event-select-influences {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-select-influences-select {
  display: flex;
}

.event-select-influences-select-influence {
  margin: 0 1rem;
}

.event-select-influences-select-influence img {
  height: 4rem;
  width: 4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.event-select-influences-select-influence img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.event-select-influences-select-influence p {
  margin-bottom: 0;
  text-align: center;
}

.event-select-influences-selected {
  display: flex;
  justify-content: center;
}

.event-select-influences-selected-influence {
  margin: 0 1rem;
  display: flex;
}

.event-select-influences-selected-influence img {
  height: 4rem;
  width: 4rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.event-select-influences-selected-influence img:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1.1);
}

.event-select-influences p {
  margin: 2rem 0;
}

.selected-placeholder {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $space-white-opaque-2;
}

.event-select-influences button {
  height: 3rem;
  width: 12rem;
  border: 0.125rem solid $space-orange;
  border-radius: 0.75rem;
  margin-top: 2rem;
  color: $space-white;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.event-select-influences button:hover {
  color: $space-gray;
  background-color: $space-orange;
  transform: scale(1.1);
}

.event-select-influences button:focus,
.event-select-influences button:active {
  outline: none;
}
