.c-inventorypopup {
  position: absolute;
  left: 32rem;
  width: 24rem;
  bottom: 0rem;
  border: 0.125rem solid $space-lightgray;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  @include make-column-and-top;
  @include default-transition-base;
  justify-content: space-between;
  background-color: $space-lightgray;
  z-index: 1;

  .toggle {
    height: 3rem;
    width: 100%;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    @include reset-button;
    background-color: $space-lightgray;
    color: $space-gray;
    font-size: $font-med;
    font-weight: $font-weight-maven-pro-medium;

    span {
      margin-right: 1rem;
    }
  }

  .wrapper {
    width: 100%;
    @include default-transition-base;
    background-color: $space-gray;
    overflow-y: hidden;
  }
}
