.container-upkeep {
  height: 10%;
  width: 100%;
  padding: 0 0.5rem 0.5rem 0.5rem;
  @include make-center;
  color: $space-white;
  flex: 1 1 0;

  p {
    margin: 0rem 0.3rem;
    
    font-size: $font-med;
    text-align: center;
  }

  span {
    color: $space-orange;
  }

  .title {
    color: $space-white;
  }

  .statusbar {
    width: 80%;
  }
}
