.container-upkeep {
  height: 10%;
  width: 100%;
  padding: 0 0.5rem 0.5rem 0.5rem;
  @include make-center;
  color: $space-white;
  flex: 1 1 0;

  .statusbar {
    width: 80%;
  }

  p {
    margin: 0rem 0.5rem;
    // background-color: $new-space-orange;
    font-size: $font-med;
    text-align: center;
  }

  .title {
    color: $space-white;
  }

  .status {
    span {
      color: $new-space-orange;
    }
  }
}
