.container-phase {
  height: 90%;
  width: 100%;
  max-width: none;
  @include reset-padding-margin;
  @include make-center;

  .phase-row {
    @include expand;
    @include reset-padding-margin;
    @include row;

    .phase {
      height: 100%;
      @include column-3;
      padding: 0.5rem;
      @include make-center;
    }

    .events-container {
      height: 100%;
      @include column-6;
      padding: 0;

      .outer {
        height: 100%;
        padding: 0.5rem;
        @include make-column-and-center;

        .topbar {
          width: 100%;
          padding: 0.5rem;
          @include border-bottom-white;
          margin-bottom: 0.5rem;
          font-size: $font-med;
          text-align: left;
          color: $new-space-orange;
        }

        .inner {
          flex-grow: 1;
          width: 100%;
          padding: 0 0.5rem;
          @include make-center;
          background-color: $space-white-opaque-1;

          .events {
            height: 100%;
            width: auto;
            @include make-left;
            flex-wrap: nowrap;
            overflow-x: scroll;
            // @include disable-scroll;
            .empty {
              margin-bottom: 0;
              font-size: $font-small;
              text-align: center;
              color: $space-white-opaque-2;
            }
          }
        }
      }
    }

    .marslog-container {
      height: 100%;
      @include column-3;
      padding: 0.5rem;
    }
  }
}
