.c-gameboardtop {
  @include expand;
  max-width: none;
  padding: 0;
  margin: 0;
  @include make-column-and-top;

  .top {
    height: 2rem;
    width: 100%;
    margin-bottom: 0.5rem;
    @include make-center;

    p {
      margin-bottom: 0.125rem;
    }

    .title {
      margin-right: 1rem;
      color: $space-white;
      font-size: $font-med;
      font-weight: $font-weight-maven-pro-bold;
    }

    .status {
      margin-left: 1rem;
      color: $space-white;
      font-size: $font-med;
      font-weight: $font-weight-maven-pro-bold;

      span {
        margin-left: 0.25rem;
        color: $new-space-orange;
      }
    }
  }

  .bottom {
    height: calc(100% - 2.5rem);
    width: 100%;
    margin: 0;

    .players,
    .gamestatus,
    .marslog {
      height: 100%;
      padding: 0.5rem;

      .wrapper {
        @include expand;
        padding: 0;

        .row {
          height: 100%;
          margin: 0;
        }
      }
    }

    .players {
      border-left: 0.125rem solid $new-space-orange-opaque-025;
      border-right: 0.125rem solid $new-space-orange-opaque-025;

      .player,
      .others {
        height: 100%;
        padding: 0;
      }

      .player {
      }

      .others {
      }
    }

    .gamestatus {
      .information,
      .instructions {
        height: 100%;
        padding: 0;
      }

      .information {
      }

      .instructions {
      }
    }

    .marslog {
      border-left: 0.125rem solid $new-space-orange-opaque-025;
      border-right: 0.125rem solid $new-space-orange-opaque-025;
    }
  }
}
