.top {
  height: 2rem;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  
  @include make-center;

  p {
    margin-bottom: 0.125rem;
  }

  .title {
    margin-right: 1rem;
    color: $space-white;
    font-size: $font-med;
    font-weight: $font-weight-maven-pro-bold;
  }

  .status {
    margin-left: 1rem;
    color: $space-white;
    font-size: $font-med;
    font-weight: $font-weight-maven-pro-bold;

    span {
      margin-left: 0.25rem;
      color: $new-space-orange;
    }
  }
}

