.container-discard {
  @include expand;
  max-width: none;
  padding: 0.5rem;
  margin: 0;
  color: $space-white;

  .discard-row {
    @include expand;
    margin: 0;
    @include row;
  }

  .info {
    height: 100%;
    @include column-3;
    padding: 0;
    margin-right: 0.5rem;
    @include make-column-and-center;

    .topbar {
      height: 10%;
      width: 100%;
      margin: 0 0 0.5rem 0;
      padding: 0.25rem 1rem;
      @include make-center;
      background-color: $space-white;

      p {
        margin: 0;
        color: $space-gray;
        font-size: var(--font-medium);
      }
    }

    .content {
      flex-grow: 1;
      width: 100%;
      padding: 0.5rem;
      margin: 0;
      @include make-column-and-center;
      background-color: $space-white-opaque-1;

      p {
        margin: 0.5rem 0;
        text-align: center;
      }

      .name {
        font-size: $font-med;
        color: $space-orange;
      }

      .effect {
        font-size: $font-small;
      }
    }
  }

  .actions {
    height: 100%;
    flex-grow: 1;
    padding: 0.5rem;
    @include make-column-and-center;
    @include text-overflow-ellipses;
    background-color: $space-white-opaque-1;

    button {
      @include reset-button;
      height: 3rem;
      width: 12.5rem;
      padding: 0 0.5rem;
      border: 0.0625rem solid $space-orange;
      margin: 0.5rem;
      color: $space-orange;
      @include default-transition-base;

      &:hover {
        // color: $space-gray;
        // background-color: $space-orange;
      }
    }
  }
}
