.container-purchase {
  @include expand;
  padding: 0.5rem;

  .purchase-row {
    @include expand;
    display: flex;

    .info {
      height: 100%;
      @include column-3;
      margin-right: 0.5rem;
      @include make-column-and-center;

      .topbar {
        height: 10%;
        width: 100%;
        margin: 0 0 0.5rem 0;
        padding: 0.25rem 1rem;
        @include make-center;
        background-color: $space-orange;

        p {
          margin: 0;
          color: $space-gray;
          font-size: var(--font-medium);
        }
      }

      .content {
        flex-grow: 1;
        width: 100%;
        padding: 0.5rem;
        margin: 0;
        @include make-column-and-center;
        background-color: $space-white-opaque-1;

        p {
          margin: 0.5rem;
          color: $space-white;
          font-size: $font-small;
          text-align: center;
        }

        .note {
          color: $space-orange;
          font-size: $font-med;
        }
      }
    }

    .actions {
      height: 100%;
      flex-grow: 1;
      padding: 0.5rem;
      background-color: $space-white-opaque-1;

      .outer-wrapper {
        @include expand;
        overflow-y: scroll;
        @include disable-scroll;

        .wrapper {
          min-height: 100%;
          width: 100%;
          @include make-column-and-top;
        }
      }
    }
  }
}
