.container-purchase {
  @include expand;

  .purchase-row {
    @include expand;
    display: flex;
    min-height: 100%;
    justify-content: space-around;

    .section-text {
      height: 10%;
      width: 100%;
      @include make-center;
      background-color: $new-space-orange;
  
      p {
        margin-bottom: 0;
        font-weight: bold;
      }
    }

    .info {
      height: 100%;
      @include column-3;
      @include make-column-and-center;
      width: 100%;
      background-color: $space-white-opaque-1;

      .section-text{
        padding:1rem 0;
      }

      .inventory{
        height: 100%;
        display: flex;
        justify-content: center;
        width: 95%;

        .inventory-table{
          margin: 0 auto;
        }
      }
      
    }

    .actions {
      height: 100%;
      flex-grow: 1;
      margin: 0rem 0.5rem;
      background-color: $space-white-opaque-1;
      overflow-y: scroll;
      @include disable-scroll;
      
      .outer-wrapper {
        margin: 1rem 0.5rem;
        
        .wrapper {
          min-height: 100%;
          width: 100%;
          @include make-column-and-top;
          
        }
      }
    }

    .chat-container{
      @include column-3;
      background-color: $space-white-opaque-1;
      min-height: 100%;
      
      .chat{
        height: 95%;
        
        max-height: fit-content;
        position: relative;
        overflow:hidden;
      }
    }
  }
}
