.container-events {
  @include expand;
  padding: 0.5rem;

  .events-row {
    @include expand;
    margin: 0;
    @include row;
  }

  .info {
    height: 100%;
    @include column-3;
    padding: 0;
    margin-right: 0.5rem;
    @include make-column-and-center;

    .topbar {
      height: 10%;
      width: 100%;
      margin: 0 0 0.5rem 0;
      padding: 0.25rem 1rem;
      @include make-center;
      background-color: $new-space-orange;

      p {
        margin: 0;
        color: $space-gray;
        font-size: $font-med;
      }
    }

    .content {
      flex-grow: 1;
      width: 100%;
      padding: 0.5rem;
      margin: 0;
      @include make-column-and-center;
      background-color: $space-white-opaque-1;

      p {
        margin: 0.5rem 0;
        color: $new-space-orange;
        font-size: $font-med;
        text-align: center;
      }

      .name-wrapper,
      .effect-wrapper {
        margin: 0.5rem;
        font-size: $font-med;
      }

      .name,
      .effect {
        color: $space-white;
        font-size: $font-small;
      }
    }
  }

  .actions {
    height: 100%;
    flex-grow: 1;
    padding: 0.5rem;
    background-color: $space-white-opaque-1;
    color: $space-white;

    .outer-wrapper {
      @include expand;
      overflow-y: scroll;
      @include disable-scroll;
    }
  }
}
