.trade-container {
  padding: 0.5rem;
  @include row;
  @include expand;
  margin: 0;
  justify-content: space-between;

  .section-text {
    height: 10%;
    width: 100%;
    margin: 0 0 0.5rem 0;
    padding: 0.25rem 1rem;
    @include make-center;
    background-color: $space-white;

    p {
      margin-bottom: 0;
    }
  }

  .trade-request {
    width: 30%;
    height: 100%;
    @include disable-scroll;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .wrapper {
      flex: 1;
      overflow-y: scroll;
    }
  }

  .trade-list {
    height: 100%;
    overflow-y: scroll;
    @include disable-scroll;
    background-color: $space-white-opaque-1;
    min-height: 0;
    flex: 1 1 0;
    margin-left: 0.5rem;
  }
}
