.trade-container{
  padding: 0.5rem;
  @include row;
  @include expand;
  margin: 0;
  justify-content: space-between;

  .trade-request{  
    width: 30%;
    height: 100%;
    @include disable-scroll;
    overflow-y: scroll;
  }

  .section-text{
    background-color: $space-white;
    width: 100%;
    margin-bottom: 0.4rem;
    padding-top: 0.6rem;
    @include make-center;
  }


  .trade-list{
    height: 100%;
    overflow-y: scroll;
    @include disable-scroll;
    background-color: $space-white-opaque-1;
    min-height: 0;
    flex: 1 1 0;
    margin-left:0.5rem;
  }
}
