.container-bottom {
  @include expand;
  padding: 0 0.5rem;
  margin: 0;

  .b-row {
    @include expand;
    @include reset-padding-margin;
    @include row;
    @include new-border-orange;

    .view {
      height: 100%;
      @include column-12;
      @include reset-padding-margin;
    }
  }
}
