.container-investments {
  @include expand;

  .wrapper {
    @include expand;
    padding: 0.5rem;
    @include make-column-and-center;

    .topbar {
      height: 10%;
      width: 100%;
      padding: 0.25rem 1rem;
      margin-bottom: 0.5rem;
      @include make-center;
      background-color: $new-space-orange;

      .discrete-bar {
        margin: 0 1rem;
        flex: 1;
        overflow-x: hidden;
      }

      .title {
        margin: 0;
        font-size: $font-med;
        color: $space-gray;
      }

      .statusbar {
        margin: 0 1rem;
        flex: 1;
      }

      .status {
        margin-bottom: 0;
        color: $space-gray;
        font-size: $font-med;
        text-align: center;
      }
    }

    .cards {
      height: 90%;
      width: 100%;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
