// TODO: NEED TO REFACTOR

.container-trade,
.trade-row {
  @include expand;
  margin: 0;
}

.container-trade {
  padding: 0.5rem;
  color: $space-white;

  .trade-row {
    @include row;

    .trade-options {
      height: 100%;
      @include column-3;
      padding: 0.5rem;
      margin-right: 0.5rem;
      @include make-column-and-center;
      background-color: $space-white-opaque-1;

      button {
        @include reset-button;
        padding: 0.5rem;
        margin: 0.5rem 0;
        color: $space-white;
        @include default-transition-base;

        &:hover {
          color: $space-gray;
          background-color: $space-white;
        }
      }

      .btn-active {
        color: $space-gray !important;
        background-color: $space-white !important;
      }
    }

    .trade-incoming,
    .trade-request {
      height: 100%;
      flex-grow: 1;
      padding: 0;
    }

    .trade-incoming-list-wrapper,
    .trade-request-list-wrapper {
      width: 100%;
      overflow-y: scroll;
      @include disable-scroll;
    }

    .trade-incoming-list,
    .trade-request-list {
      min-height: 100%;
      width: 100%;

      p {
        width: 100%;
        height: 4rem;
        margin-bottom: 0.5rem;
        background-color: $space-white-opaque-1;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .trade-incoming-list-wrapper {
      height: 100%;
    }

    .trade-request {
      display: flex;
      flex-flow: column;

      .trade-request-list-wrapper {
        height: 50%;
      }

      .trade-request-make {
        width: 100%;
        margin-top: 0.5rem;
        flex-grow: 1;
      }
    }
  }
}
