.c-chat-mars-log {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
  @include make-column-and-top;

  .button-switchers,
  .mars-log-view,
  .chat-view {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .button-switchers {
    @include make-center;

    .chat,
    .mars-log,
    .split {
      padding: 0;

      button {
        @include reset-button;
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 0;
        border-radius: 0;
        font-size: $font-med;
        font-weight: $bold !important;
        text-align: center;
        color: $dark-accent;
        border: 0.125rem solid $dark-accent;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

        &:disabled {
          opacity: 0.5;
        }

        &.selected {
          color: $dark-shade;
          background-color: $dark-accent;
        }
      }
    }
  }

  .mars-log-view,
  .chat-view {
    flex: 1;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 0.125rem solid $dark-accent;
    overflow-y: hidden;
  }
}
