.c-hud {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
  @include make-column-and-top;

  .wrapper {
    @include expand;
    @include reset-padding-margin;

    .left,
    .right {
      height: 100%;

      .wrapper {
        @include expand;
        padding: 0;

        .row {
          height: 100%;
          margin: 0;
        }
      }
    }

    .left {
      padding: 0 0.5rem;
      border-left: 0.125rem solid $space-lightgray-025;
      border-right: 0.125rem solid $space-lightgray-025;
    }

    .right {
      padding: 0 0.5rem;
      border-right: 0.125rem solid $space-lightgray-025;
    }
  }
}
