//.c-hud-left-buttons {
//  width: 100%;
//  max-width: none;
//  @include reset-padding-margin;
//}

.button-switchers {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
  @include make-center;
}

.other-players,
.inventory,
.accomplishments {
  padding: 0;
  @include make-center;
}

button {
  @include reset-button;
  height: 3rem;
  width: 3rem;
  @include reset-padding-margin;
  border-radius: 50%;
  font-size: $font-med;
  font-weight: $bold !important;
  text-align: center;
  color: $light-shade;
  border: 0.125rem solid $light-shade;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }

  &.selected {
    color: $dark-shade;
    background-color: $light-shade;

    .icon {
      color: $dark-shade;
    }
  }
}

.icon {
  height: 50%;
  width: 50%;
  color: $light-shade;
}
