.c-inventory {
  @include expand;

  .investment {
    height: 4rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    @include make-horizontal-between;

    &:last-child {
      margin-bottom: 0;
    }

    .left {
      @include make-center;

      img {
        height: 2rem;
        width: 2rem;
      }

      p {
        margin: 0 0 0 1rem;
        color: $space-white;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-medium;
        text-transform: capitalize;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .timeblock,
      .inventory {
        color: $space-white;
      }

      .inventory {
        margin: 0 0 0 2rem;
      }

      .cost,
      .units {
        margin: 0 0 0 0.5rem;
        color: $space-white;
        font-size: $font-large;
        font-weight: $font-weight-maven-pro-bold;
        text-transform: capitalize;
      }
    }
  }
}
