.c-inventory {
  @include expand;

  .toggle {
    height: 2rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    @include make-center;
    background-color: $space-white-opaque-1;

    p {
      margin: 0 1rem 0 0;
      color: $space-white;
      font-size: $font-med;
      font-weight: $font-weight-maven-pro-medium;
      text-transform: capitalize;
    }

    button {
      @include reset-button;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0;
      border: 0.125rem solid $space-white;
      border-radius: 50%;
      @include make-center;
      @include default-transition-base;

      &:hover {
        @include default-scale-up;
      }
    }

    .active {
      background-color: $space-white;

      .timeblock {
        color: $space-gray;
      }
    }

    .inactive {
      background-color: transparent;

      .timeblock {
        color: $space-white;
      }
    }
  }

  .investment {
    height: 4rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    @include make-horizontal-between;

    &:last-child {
      margin-bottom: 0;
    }

    .left {
      @include make-center;

      img {
        height: 2rem;
        width: 2rem;
      }

      p {
        margin: 0 0 0 1rem;
        color: $space-white;
        font-size: $font-med;
        font-weight: $font-weight-maven-pro-medium;
        text-transform: capitalize;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .timeblock,
      .inventory {
        color: $space-white;
      }

      .inventory {
        margin: 0 0 0 2rem;
      }

      .cost,
      .units {
        margin: 0 0 0 0.5rem;
        color: $space-white;
        font-size: $font-large;
        font-weight: $font-weight-maven-pro-bold;
        text-transform: capitalize;
      }
    }
  }
}
