.c-default {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
  @include make-center;

  p {
    margin-bottom: 0;
    font-size: $font-med;
    text-align: center;
    color: $light-shade-25;
  }
}
