.c-discard {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
}

.wrapper {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
}

.inventory {
  height: 100%;
  padding: 0 0.5rem 0 0;
  @include make-column-and-top;

  .topbar {
    height: 10%;
    flex-shrink: 0;
    width: 100%;
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    @include make-center;
    background-color: $phase-topbar-background;

    .title {
      margin: 0 1rem 0 0;
      font-size: $font-med;
      font-weight: $bold;
      color: $phase-topbar-foreground;
    }
  }

  .outer-wrapper {
    flex: 1;
    width: 100%;
    overflow-y: hidden;

    .wrapper {
      width: 100%;
      overflow-y: scroll;
    }
  }
}

.purchasable {
  height: 100%;
  padding: 0;
  @include make-column-and-top;
}

.header {
  height: 10%;
  flex-shrink: 0;
  width: 100%;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  @include make-center;
  background-color: $phase-topbar-background;
}

.title {
  margin-bottom: 0;
  color: $phase-topbar-foreground;
  font-size: $font-med;
  font-weight: $bold;
}

.outer-wrapper {
  flex: 1;
  width: 100%;
  padding: 0.5rem;
  background-color: $light-shade-05;
  overflow-y: hidden;

  .wrapper {
    width: 100%;
    @include make-column-and-top;
    overflow-y: scroll;
  }
}
