button {
  border: 0.125rem solid $phase-topbar-background;
  color: $phase-topbar-foreground;
  background-color: $phase-topbar-background;

  &:hover {
    color: $phase-topbar-background;
    background-color: $phase-topbar-foreground;
  }
}

.buttons {
  height: 10%;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 0.5rem;
  @include make-center;
}

.selected {
  color: $phase-topbar-background;
  background-color: $phase-topbar-foreground;
}