.c-investments {
  @include expand;
  max-width: none;
  @include reset-padding-margin;

  .wrapper {
    @include expand;
    max-width: none;
    @include reset-padding-margin;

    .timeblock-investments {
      height: 100%;
      padding: 0 0.5rem 0 0;
      @include make-column-and-top;

      .topbar {
        height: 10%;
        flex-shrink: 0;
        width: 100%;
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        @include make-center;
        background-color: $phase-topbar-background;

        .title {
          margin: 0 1rem 0 0;
          font-size: $font-med;
          font-weight: $bold;
          color: $phase-topbar-foreground;
        }

        .timeblockmeter {
          flex: 1;
          overflow-x: hidden;
        }

        .status {
          margin: 0 0 0 1rem;
          font-size: $font-large;
          font-weight: $bold;
          color: $phase-topbar-foreground;
          text-align: center;
        }

        .icon {
          margin-left: 0.5rem;
          color: $phase-topbar-foreground;
        }
      }

      .cards {
        flex: 1;
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .purchasable-accomplishments {
      height: 100%;
      padding: 0;
      @include make-column-and-top;

      .topbar {
        height: 10%;
        flex-shrink: 0;
        width: 100%;
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        @include make-center;
        background-color: $phase-topbar-background;

        .title {
          margin-bottom: 0;
          color: $dark-shade;
          font-size: $font-med;
          font-weight: $bold;
        }
      }

      .outer-wrapper {
        flex: 1;
        width: 100%;
        padding: 0.5rem;
        background-color: $light-shade-05;
        overflow-y: hidden;

        .wrapper {
          width: 100%;
          @include make-column-and-top;
          overflow-y: scroll;
        }
      }
    }
  }
}
