.c-investments {
  @include expand;
  max-width: none;
  @include reset-padding-margin;

  .wrapper {
    @include expand;
    max-width: none;
    @include reset-padding-margin;

    .timeblockinvestments {
      height: 100%;
      padding: 0 0.5rem 0 0;
      @include make-column-and-top;

      .topbar {
        height: 10%;
        flex-shrink: 0;
        width: 100%;
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        @include make-center;
        // background-color: $new-space-orange;
        background-color: $space-lightgray;

        .title {
          margin: 0 1rem 0 0;
          font-size: $font-med;
          font-weight: $font-weight-maven-pro-bold;
          color: $space-gray;
        }

        .timeblockmeter {
          flex: 1;
          overflow-x: hidden;
        }

        .status {
          margin: 0 0 0 1rem;
          font-size: $font-large;
          font-weight: $font-weight-maven-pro-bold;
          color: $space-gray;
          text-align: center;
        }

        .icon {
          margin-left: 0.5rem;
        }
      }

      .cards {
        flex-grow: 1;
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .purchasableaccomplishments {
      height: 100%;
      padding: 0;
      @include make-column-and-top;

      .topbar {
        height: 10%;
        flex-shrink: 0;
        width: 100%;
        padding: 0.25rem 1rem;
        margin-bottom: 0.5rem;
        @include make-center;
        // background-color: $new-space-orange;
        background-color: $space-lightgray;

        .title {
          margin-bottom: 0;
          color: $space-gray;
          font-size: $font-med;
          font-weight: $font-weight-maven-pro-bold;
        }
      }

      .outer-wrapper {
        flex-grow: 1;
        width: 100%;
        padding: 0.5rem;
        background-color: $space-white-opaque-1;
        overflow-y: hidden;

        .wrapper {
          width: 100%;
          @include make-column-and-top;
          overflow-y: scroll;
        }
      }
    }

    // .player-accomplishments {
    //   width: 50%;

    //   .active-text,
    //   .purchased-text {
    //     color: $new-space-orange;
    //     font-weight: bold;
    //   }

    //   .accomplishment-wrapper {
    //     display: flex;
    //     min-height: 18rem;
    //     max-height: 18rem;
    //     flex: 1 1 0;

    //     justify-content: space-between;
    //     position: relative;

    //     .active,
    //     .purchased {
    //       width: 48%;
    //     }
    //   }
    // }
  }
}
