.container-investments {
  @include expand;

  .wrapper {
    @include expand;
    padding: 0.5rem;
    @include make-column-and-center;

    .header-text {
      color: $new-space-orange;
      font-weight: bold;
      border-bottom: solid 1px;
      border-color: $space-white;
      padding-right: 6rem;
    }

    .topbar {
      height: 10%;
      width: 100%;
      padding: 0.25rem 1rem;
      margin-bottom: 0.5rem;
      @include make-center;
      background-color: $new-space-orange;

      .discrete-bar {
        margin: 0 1rem;
        flex: 1;
        overflow-x: hidden;
      }

      .title {
        margin: 0;
        font-size: $font-med;
        color: $space-gray;
      }

      .statusbar {
        margin: 0 1rem;
        flex: 1;
      }

      .status {
        margin-bottom: 0;
        color: $space-gray;
        font-size: $font-med;
        text-align: center;
      }
    }

    .action-container {
      @include expand;
      display: flex;
      // align-items: flex-start;
      align-items: stretch;
    }

    .cards {
      height: 90%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .player-accomplishments {
      width: 50%;

      .active-text,
      .purchased-text {
        color: $new-space-orange;
        font-weight: bold;
      }

      .accomplishment-wrapper {
        display: flex;
        min-height: 18rem;
        max-height: 18rem;
        flex: 1 1 0;

        justify-content: space-between;
        position: relative;

        .active,
        .purchased {
          width: 48%;
        }
      }
    }
  }
}
