p {
  color: white;
}

.report {
  color: white;
  width: 100%;
  height: 100%;
}

.system-health {
  border-right: .2rem solid;
  border-color: $light-shade-25;
  overflow-y: scroll;
  height: 65%;
}

.calc {
  font-style: italic;
}

.events {
  width: 100%;
  text-align: center;
}