.header {
  height: 10%;
  flex-shrink: 0;
  width: 100%;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  @include make-center;
  background-color: $phase-topbar-background;
}

.title {
  margin: 0 1rem 0 0;
  font-size: $font-med;
  font-weight: $bold;
  color: $phase-topbar-foreground;
}

.outer-wrapper {
  flex: 1;
  background-color: $light-shade-05;
  overflow-y: hidden;
  height: 44vh;
}

.wrapper {
  overflow-y: scroll;
  height: 41vh;
}
