.trade-container {
  @include expand;
  max-width: none;
  padding: 0;

  .wrapper {
    @include expand;
    margin: 0;

    .trade-list {
      height: 100%;
      padding: 0;
      overflow-y: scroll;
      @include disable-scroll;

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: none;
        padding: 0;

        .header {
          width: 100%;
          margin: 0 0 0.5rem 0;

          .title {
            height: 100%;
            padding: 0 0.5rem 0 0;

            p {
              @include expand;
              padding: 0.5rem;
              border: solid 0.025rem $new-space-orange;
              margin-bottom: 0;
              font-size: $font-med;
              font-weight: $font-weight-maven-pro-bold;
              text-align: center;
              color: $space-gray;
              background-color: $new-space-orange;
            }
          }

          .requesttradebutton {
            height: 100%;
            padding: 0;

            button {
              @include expand;
              @include reset-button;
              @include default-transition-base;
              padding: 0.5rem 1rem;
              border: solid 0.025rem $new-space-orange;
              font-size: $font-med;
              font-weight: $font-weight-maven-pro-bold;
              text-align: center;
              color: $new-space-orange;

              &:hover {
                color: $space-gray;
                background-color: $new-space-orange;
              }
            }
          }
        }

        .trades {
          flex-grow: 1;
          width: 100%;
          margin: 0;
          padding: 0.5rem;
          background-color: $space-white-opaque-1;

          .wrapper {
            min-height: 100%;
            width: 100%;
            overflow-y: scroll;
          }
        }
      }
    }
  }
}
