.c-trades {
  @include expand;
  max-width: none;
  padding: 0;
}

.wrapper {
  @include expand;
  max-width: none;
  @include reset-padding-margin;
}

.trade-list {
  height: 100%;
  padding: 0;
  @include make-column-and-top;
}

.topbar {
  height: 10%;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 0.5rem;
  @include make-center;
}

.title-wrapper {
  height: 100%;
  flex: 1;
  padding-right: 0.5rem;

  .wrapper {
    @include expand;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: $phase-topbar-background;

    .title {
      margin-bottom: 0;
      color: $phase-topbar-foreground;
      font-size: $font-med;
      font-weight: $bold;
    }

    .filter-options {
      .filter-option {
        margin: 0 0.5rem;
      }
    }
  }
}

button {
  height: 100%;
  width: 12rem;
  @include reset-button;
  @include default-transition-base;
  padding: 0.5rem 1rem;
  font-size: $font-med;
  font-weight: $bold !important;
  text-align: center;
  border: solid 0.125rem $modal-background-default;
  color: $modal-background-default;

  &:hover {
    color: $modal-foreground-default;
    background-color: $modal-background-default;
  }

  &:disabled {
    border: solid 0.125rem $light-shade-25;
    color: $light-shade-25;
    background-color: $dark-shade;
    cursor: not-allowed;
    opacity: 90%;
  }
}

.outer-wrapper {
  flex: 1;
  width: 100%;
  padding: 0.5rem;
  background-color: $light-shade-05;
  overflow-y: hidden;

  .wrapper {
    width: 100%;
    @include make-column-and-top;
    overflow-y: scroll;
  }
}
