.c-trades {
  @include expand;
  max-width: none;
  padding: 0;

  .wrapper {
    @include expand;
    max-width: none;
    @include reset-padding-margin;

    .trade-list {
      height: 100%;
      padding: 0;
      @include make-column-and-top;

      .topbar {
        height: 10%;
        flex-shrink: 0;
        width: 100%;
        margin-bottom: 0.5rem;
        @include make-center;

        .title-wrapper {
          height: 100%;
          flex: 1;
          padding-right: 0.5rem;

          .wrapper {
            @include expand;
            @include make-center;
            // background-color: $new-space-orange;
            background-color: $space-lightgray;

            .title {
              margin-bottom: 0;
              color: $space-gray;
              font-size: $font-med;
              font-weight: $font-weight-maven-pro-bold;
            }
          }
        }

        button {
          height: 100%;
          width: 12rem;
          @include reset-button;
          @include default-transition-base;
          padding: 0.5rem 1rem;
          border: solid 0.125rem $new-space-orange;
          font-size: $font-med;
          font-weight: $font-weight-maven-pro-bold !important;
          text-align: center;
          color: $new-space-orange;

          &:hover {
            color: $space-gray;
            background-color: $new-space-orange;
          }
        }
      }

      .outer-wrapper {
        flex: 1;
        width: 100%;
        padding: 0.5rem;
        background-color: $space-white-opaque-1;
        overflow-y: hidden;

        .wrapper {
          width: 100%;
          @include make-column-and-top;
          overflow-y: scroll;
        }
      }
    }
  }
}
