.player {
  // height: 3rem;
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  // TODO: FIX TRANSITIONS (TOO FAST)
  @include default-transition-base;

  &:last-child {
    margin-bottom: 0;
  }

  .ready {
    height: 100%;
    width: 0.25rem;
    margin-right: 0.25rem;
    background-color: $status-green;
  }

  .p-container {
    height: 100%;
    flex-grow: 1;
    padding: 0.25rem;
    @include make-center;
    justify-content: space-between;
    @include default-transition-base;

    .score-and-role {
      margin-left: 0.75rem;
      @include make-left;

      .score {
        margin-right: 1rem;
      }

      p {
        margin-bottom: 0;
        text-align: center;
        color: $space-white;
        @include text-overflow-ellipses;
      }
    }

    img {
      height: 100%;
    }
  }

  .audit-view {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: wrap;
    @include default-transition-base;

    .audit-investment {
      width: calc(100% / 3);
      padding: 0.125rem 0.25rem;
      @include make-horizontal-expand;
      background-color: $space-white-opaque-1;

      img {
        height: 1rem;
        width: 1rem;
        margin: 0 0.5rem;
      }

      p {
        margin: 0 0.5rem;
        font-size: $font-small;
        color: $space-white;
      }
    }
  }
}
